// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2018 PHYTEC Messtechnik GmbH
 * Author: Christian Hemp <c.hemp@phytec.de>
 */

/dts-v1/;

#include "imx8mq-phycore-som.dtsi"
#include "imx8mq-phyboard-polaris.dtsi"
#include "imx8mq-phyboard-polaris-sdcard.dtsi"
#include "imx8mq-phyboard-polaris-peb-av-009.dtsi"
#include "imx8mq-phyboard-polaris-peb-eval-01.dtsi"

/ {
	model = "PHYTEC phyBOARD-Polaris Carrier-Board with eMMC";
	compatible = "phytec,imx8mq-pbacd12-emmc", "phytec,imx8mq-pbacd12",
		     "phytec,imx8mq-pcl066", "fsl,imx8mq";

	chosen {
		bootargs = "console=ttymxc0,115200 earlycon=ec_imx6q,0x30860000,115200";
		stdout-path = &uart1;
	};
};

&usdhc1 {
	status = "okay";
};

&usdhc2 {
	status = "okay";
};
