// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) 2025 PHYTEC Messtechnik GmbH
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>
#include <dt-bindings/phy/phy-imx8-pcie.h>
#include <dt-bindings/pwm/pwm.h>
#include "imx8mp-phyflex-fpsc-g-som.dtsi"

/ {
	compatible = "phytec,imx8mp-phyflex-libra-rdk",
		     "phytec,imx8mp-phyflex-fpsc-g", "fsl,imx8mp";
	model = "PHYTEC Libra phyFLEX-i.MX8MP FPSC";

	backlight_lvds0: backlight-lvds0 {
		compatible = "pwm-backlight";
		pinctrl-0 = <&pinctrl_lvds0>;
		pinctrl-names = "default";
		power-supply = <&reg_vdd_12v0>;
		status = "disabled";
	};

	can_transceiver1: can-phy1 {
		compatible = "ti,tcan1043";
		#phy-cells = <0>;
		max-bitrate = <8000000>;
		standby-gpios = <&gpio_expander2 0 GPIO_ACTIVE_HIGH>;
	};

	can_transceiver2: can-phy2 {
		compatible = "ti,tcan1043";
		#phy-cells = <0>;
		max-bitrate = <8000000>;
		standby-gpios = <&gpio_expander2 1 GPIO_ACTIVE_HIGH>;
	};

	chosen {
		stdout-path = &uart4;
	};

	panel_lvds0: panel-lvds0 {
		/* compatible panel in overlay */
		backlight = <&backlight_lvds0>;
		power-supply = <&reg_vdd_3v3>;
		status = "disabled";

		port {
			panel0_in: endpoint {
				remote-endpoint = <&ldb_lvds_ch0>;
			};
		};
	};

	reg_vdd_12v0: regulator-vdd-12v0 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <12000000>;
		regulator-min-microvolt = <12000000>;
		regulator-name = "VDD_12V0";
	};

	reg_vdd_1v8: regulator-vdd-1v8 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "VDD_1V8";
	};

	reg_vdd_3v3: regulator-vdd-3v3 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "VDD_3V3";
	};

	reg_vdd_5v0: regulator-vdd-5v0 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-name = "VDD_5V0";
	};
};

&eqos {
	phy-handle = <&ethphy1>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy1: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0x1>;
			enet-phy-lane-no-swap;
			ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_1_50_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_1_50_NS>;
		};
	};
};

/* CAN FD */
&flexcan1 {
	phys = <&can_transceiver1>;
	status = "okay";
};

&flexcan2 {
	phys = <&can_transceiver2>;
	status = "okay";
};

&ecspi2 {
	status = "okay";

	tpm@0 {
		compatible = "infineon,slb9670", "tcg,tpm_tis-spi";
		reg = <0>;
		spi-max-frequency = <18500000>;
	};
};

&flexspi {
	status = "okay";

	spi_nor: flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <80000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
		vcc-supply = <&reg_vdd_1v8>;
	};
};

&gpio5 {
	gpio-line-names = "", "", "", "", "I2C5_SDA",
			  "GPIO1", "", "", "", "SPI1_CS",
			  "", "", "", "SPI2_CS", "I2C1_SCL",
			  "I2C1_SDA", "I2C2_SCL", "I2C2_SDA", "I2C3_SCL", "I2C3_SDA",
			  "", "GPIO2", "", "LVDS1_BL_EN", "SPI3_CS",
			  "", "GPIO3";
};

&i2c2 {
	clock-frequency = <400000>;
	status = "okay";

	/* Factory EEPROM */
	eeprom@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
		pagesize = <16>;
		vcc-supply = <&reg_vdd_1v8>;
	};

	/* User EEPROM */
	eeprom@52 {
		compatible = "atmel,24c02";
		reg = <0x52>;
		pagesize = <16>;
		vcc-supply = <&reg_vdd_1v8>;
	};

	gpio_expander1: gpio@21 {
		compatible = "ti,tcal6416";
		reg = <0x21>;
		interrupt-controller;
		interrupt-parent = <&gpio5>;
		interrupts = <26 IRQ_TYPE_LEVEL_LOW>;
		#interrupt-cells = <2>;
		#gpio-cells = <2>;
		gpio-controller;
		gpio-line-names = "VCONN_nFAULT", "CSI1_CTRL1", "CSI1_CTRL3",
				  "CSI1_CTRL4", "USB-C_nINT/AUDIO_AC",
				  "CSI2_CTRL1", "CSI2_CTRL3", "CSI2_CTRL4",
				  "CLK_EN_AV", "W_nDISABLE1", "W_nDISABLE2",
				  "PCIE1_nWAKE", "NC", "UART1_nWAKE",
				  "UART1_BT_RS_SEL", "UART1_RS232_485_SEL";

		vcc-supply = <&reg_vdd_1v8>;
	};
};

&i2c3 {
	clock-frequency = <400000>;
	status = "okay";

	gpio_expander2: gpio@21 {
		compatible = "ti,tcal6416";
		reg = <0x21>;
		interrupt-controller;
		interrupt-parent = <&gpio4>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;
		#interrupt-cells = <2>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "CAN1_STBY", "CAN2_STBY", "NC",
				  "KEY-E_nALERT", "NC", "SDIO_nWAKE",
				  "SDIO_nRESET", "HDMI_EN", "RTC_nINT",
				  "LVDS1_BL_EN", "NC", "NC", "NC", "NC",
				  "NC", "NC";
		vcc-supply = <&reg_vdd_1v8>;
	};

	led-controller@62 {
		compatible = "nxp,pca9633";
		reg = <0x62>;
		#address-cells = <1>;
		#size-cells = <0>;

		led@0 {
			reg = <0>;
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_STATUS;
		};

		led@1 {
			reg = <1>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
		};

		led@2 {
			reg = <2>;
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_STATUS;
		};
	};
};

&iomuxc {
	pinctrl_lvds0: lvds0grp {
		fsl,pins = <
			MX8MP_IOMUXC_UART1_TXD__GPIO5_IO23	0x12
		>;
	};
};

&ldb {
	lvds-channel@0 {
		status = "okay";

		port@1 {
			reg = <1>;

			ldb_lvds_ch0: endpoint {
				remote-endpoint = <&panel0_in>;
			};
		};
	};
};

/* Mini PCIe */
&pcie {
	reset-gpio = <&gpio1 8 GPIO_ACTIVE_LOW>;
	vpcie-supply = <&reg_vdd_3v3>;
	status = "okay";
};

&pcie_phy {
	clocks = <&hsio_blk_ctrl>;
	clock-names = "ref";
	fsl,clkreq-unsupported;
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_OUTPUT>;
	status = "okay";
};

&reg_vdd_io {
	regulator-max-microvolt = <1800000>;
	regulator-min-microvolt = <1800000>;
};

&rv3028 {
	interrupt-parent = <&gpio_expander2>;
	interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
	aux-voltage-chargeable = <1>;
	trickle-resistor-ohms = <3000>;
	wakeup-source;
};

&snvs_pwrkey {
	status = "okay";
};

/* RS232/RS485/BT */
&uart3 {
	uart-has-rtscts;
	status = "okay";
};

/* debug console */
&uart4 {
	status = "okay";
};

/* USB1 Type-C */
&usb3_phy0 {
	vbus-supply = <&reg_vdd_5v0>;
	status = "okay";
};

&usb3_0 {
	fsl,over-current-active-low;
	fsl,power-active-low;
	status = "okay";
};

&usb_dwc3_0 {
	dr_mode = "peripheral";
	status = "okay";
};

/* USB2 4-port USB3.0 HUB */
&usb3_phy1 {
	vbus-supply = <&reg_vdd_5v0>;
	status = "okay";
};

&usb3_1 {
	fsl,permanently-attached;
	fsl,over-current-active-low;
	fsl,power-active-high;
	status = "okay";
};

&usb_dwc3_1 {
	dr_mode = "host";
	status = "okay";
};

/* SD-Card */
&usdhc2 {
	assigned-clocks = <&clk IMX8MP_CLK_USDHC2>;
	assigned-clock-rates = <200000000>;
	bus-width = <4>;
	disable-wp;
	status = "okay";
};
