// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2021 PHYTEC Messtechnik GmbH
 * Author: Stefan Riedmueller <s.riedmueller@phytec.de>
 */

/dts-v1/;

#include "imx8mm-phycore-som.dtsi"
#include "imx8mm-phyboard-polis.dtsi"
#include "imx8mm-phyboard-polis-peb-av-010.dtsi"
#include "imx8mm-phyboard-polis-peb-eval-01.dtsi"

/ {
	model = "PHYTEC phyBOARD-Polis-i.MX8MM RDK with VM-016";
	compatible = "phytec,imx8mm-phyboard-polis",
		     "phytec,imx8mm-phycore-som","fsl,imx8mm";

	vm016_clk: vm016-ext-clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <27000000>;
	};
};

&csi1_bridge {
	status = "okay";
};

&flash0 {
	status = "okay";
};

&i2c1_sn65dsi83 {
	status = "okay";
};

&i2c4 {
	status = "okay";

	vm016: camera@10 {
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		compatible = "onsemi,ar0144";
		reg = <0x10>;
		clock-names = "ext";
		clocks = <&vm016_clk>;

		port@0 {
			reg = <0>;

			vm016_ep: endpoint {
				remote-endpoint = <&mipi_csi_sensor_ep>;
				bus-type = <4>; /* MIPI CSI-2 D-PHY */
				data-lanes = <1 2>;
				clock-lanes = <0>;
				clock-noncontinuous = <1>;
				onsemi,t-hs-prep = <1>;
				onsemi,t-clk-post = <9>;
			};
		};
	};
};

&mipi_csi_1 {
	fsl,csis-hs-settle = <9>;
	status = "okay";
};

&mipi_csi_sensor_ep {
	remote-endpoint = <&vm016_ep>;
	data-lanes = <1 2>;
};
