// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) 2026 PHYTEC Messtechnik GmbH
 */

/dts-v1/;

#include <dt-bindings/phy/phy-imx8-pcie.h>
#include "imx8mp-phyflex-fpsc-g-som.dtsi"

/ {
	compatible = "phytec,imx8mp-phyflex-phyvip",
		     "phytec,imx8mp-phyflex-fpsc-g", "fsl,imx8mp";
	model = "PHYTEC phyVIP phyFLEX-i.MX8MP FPSC";

	chosen {
		stdout-path = &uart4;
	};

	reg_vcc_1v8: regulator-vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "VCC_1V8";
	};

	reg_vcc_3v3: regulator-vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "VCC_3V3";
	};

	reg_vcc_5v: regulator-vcc-5v {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-name = "VCC_5V";
	};
};

/* TPM2.0 */
&ecspi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>;
	status = "okay";

	tpm@0 {
		compatible = "infineon,slb9670", "tcg,tpm_tis-spi";
		reg = <0>;
		spi-max-frequency = <18500000>;
	};
};

/* CSI2 I2C */
&i2c2 {
	clock-frequency = <400000>;
	status = "okay";

	/* Factory EEPROM */
	eeprom@51 {
		compatible = "atmel,24c32";
		reg = <0x51>;
		pagesize = <32>;
		vcc-supply = <&reg_vcc_1v8>;
	};
};

/* CSI1 I2C */
&i2c3 {
	clock-frequency = <400000>;
	status = "okay";

	temp_sense1: temperature-sensor@48 {
		compatible = "ti,tmp102";
		reg = <0x48>;
		#thermal-sensor-cells = <1>;
		status = "disabled";
	};

	temp_sense2: temperature-sensor@49 {
		compatible = "ti,tmp102";
		reg = <0x49>;
		#thermal-sensor-cells = <1>;
		status = "disabled";
	};
};

/* Temperature Sensors */
&i2c5 {
	clock-frequency = <400000>;
	status = "okay";

	temp_sense3: temperature-sensor@48 {
		compatible = "ti,tmp102";
		reg = <0x48>;
		#thermal-sensor-cells = <1>;
		status = "disabled";
	};

	temp_sense4: temperature-sensor@49 {
		compatible = "ti,tmp102";
		reg = <0x49>;
		#thermal-sensor-cells = <1>;
		status = "disabled";
	};
};

/* PCIE (AI Accelerator) */
&pcie {
	reset-gpio = <&gpio1 8 GPIO_ACTIVE_LOW>;
	vpcie-supply = <&reg_vcc_3v3>;
	status = "okay";
};

&pcie_phy {
	clocks = <&hsio_blk_ctrl>;
	clock-names = "ref";
	fsl,clkreq-unsupported;
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_OUTPUT>;
	status = "okay";
};

/* VDD_IO voltage */
&reg_vdd_io {
	regulator-max-microvolt = <1800000>;
	regulator-min-microvolt = <1800000>;
};

/* Debug console */
&uart4 {
	status = "okay";
};

/* WiFi */
&usdhc1 {
	#address-cells = <1>;
	#size-cells = <0>;
	bus-width = <4>;
	keep-power-in-suspend;
	max-frequency = <50000000>;
	non-removable;
	status = "okay";

	wifi@2 {
		compatible = "ti,cc3300";
		reg = <2>;
		interrupt-parent = <&gpio4>;
		interrupts = <3 IRQ_TYPE_LEVEL_HIGH>;
	};
};

/* SD-Card */
&usdhc2 {
	assigned-clocks = <&clk IMX8MP_CLK_USDHC2>;
	assigned-clock-rates = <200000000>;
	bus-width = <4>;
	disable-wp;
	status = "okay";
};

&iomuxc {
	/* FPSC pinctrl_ecspi2 override; disable CS pull-up and drive-strengths */
	pinctrl_ecspi2: ecspi2grp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI2_SCLK__ECSPI2_SCLK	0x84	/* SPI2_SCLK */
			MX8MP_IOMUXC_ECSPI2_MOSI__ECSPI2_MOSI	0x84	/* SPI2_MOSI */
			MX8MP_IOMUXC_ECSPI2_MISO__ECSPI2_MISO	0x84	/* SPI2_MISO */
			MX8MP_IOMUXC_ECSPI2_SS0__GPIO5_IO13	0x04	/* SPI2_CS */
		>;
	};

	/* FPSC pinctrl_usdhc1 override; reconfigure pins for WiFi */
	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_CLK__USDHC1_CLK	0x182	/* SDIO_CLK */
			MX8MP_IOMUXC_SD1_CMD__USDHC1_CMD	0x1c2	/* SDIO_CMD */
			MX8MP_IOMUXC_SD1_DATA0__USDHC1_DATA0	0x1c2	/* SDIO_D0 */
			MX8MP_IOMUXC_SD1_DATA1__USDHC1_DATA1	0x1c2	/* SDIO_D1 */
			MX8MP_IOMUXC_SD1_DATA2__USDHC1_DATA2	0x1c2	/* SDIO_D2 */
			MX8MP_IOMUXC_SD1_DATA3__USDHC1_DATA3	0x1c2	/* SDIO_D3 */
		>;
	};

	/* FPSC pinctrl_usdhc2_100mhz override; adjust 100mhz drive-strengths  */
	pinctrl_usdhc2_100mhz: usdhc2-100mhzgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CD_B__USDHC2_CD_B	0x40	/* SDCARD_CD */
			MX8MP_IOMUXC_SD2_WP__USDHC2_WP		0x40	/* SDCARD_WP */
			MX8MP_IOMUXC_SD2_CLK__USDHC2_CLK	0x192	/* SDCARD_CLK */
			MX8MP_IOMUXC_SD2_CMD__USDHC2_CMD	0x1d2	/* SDCARD_CMD */
			MX8MP_IOMUXC_SD2_DATA0__USDHC2_DATA0	0x1d2	/* SDCARD_DATA0 */
			MX8MP_IOMUXC_SD2_DATA1__USDHC2_DATA1	0x1d2	/* SDCARD_DATA1 */
			MX8MP_IOMUXC_SD2_DATA2__USDHC2_DATA2	0x1d2	/* SDCARD_DATA2 */
			MX8MP_IOMUXC_SD2_DATA3__USDHC2_DATA3	0x1d2	/* SDCARD_DATA3 */
			MX8MP_IOMUXC_GPIO1_IO04__USDHC2_VSELECT	0xc0
		>;
	};

	/* FPSC pinctrl_usdhc2_200mhz override; adjust 200mhz drive-strengths */
	pinctrl_usdhc2_200mhz: usdhc2-200mhzgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CD_B__USDHC2_CD_B	0x40	/* SDCARD_CD */
			MX8MP_IOMUXC_SD2_WP__USDHC2_WP		0x40	/* SDCARD_WP */
			MX8MP_IOMUXC_SD2_CLK__USDHC2_CLK	0x192	/* SDCARD_CLK */
			MX8MP_IOMUXC_SD2_CMD__USDHC2_CMD	0x1d0	/* SDCARD_CMD */
			MX8MP_IOMUXC_SD2_DATA0__USDHC2_DATA0	0x1d2	/* SDCARD_DATA0 */
			MX8MP_IOMUXC_SD2_DATA1__USDHC2_DATA1	0x1d2	/* SDCARD_DATA1 */
			MX8MP_IOMUXC_SD2_DATA2__USDHC2_DATA2	0x1d2	/* SDCARD_DATA2 */
			MX8MP_IOMUXC_SD2_DATA3__USDHC2_DATA3	0x1d2	/* SDCARD_DATA3 */
			MX8MP_IOMUXC_GPIO1_IO04__USDHC2_VSELECT	0xc0
		>;
	};
};
