// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2018 PHYTEC Messtechnik GmbH
 * Author: Janine Hagemann <j.hagemann@phytec.de>
 */

/ {

	backlight: backlight {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lcd>;
		default-brightness-level = <6>;
		power-supply = <&reg_vcc3v3>;
		pwms = <&pwm4 0 50000>;
		enable-gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
		brightness-levels= <0 4 8 16 32 64 128 255>;
		status = "okay";
	};

	panel: panel {
		compatible = "edt,etml1010g0dka";
		backlight = <&backlight>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&bridge_out>;
			};
		};
	};

};

&pwm4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
};

&i2c2 {
	i2c_sn65dsi83: sn65dsi83@2c {
		compatible = "ti,sn65dsi83";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_i2c2_sn65dsi83>;
		enable-gpios = <&gpio4 30 GPIO_ACTIVE_LOW>;
		reg = <0x2c>;
		lanes_in = <4>;
		lvds_vod_swing = <0x3>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				bridge_out: endpoint {
					remote-endpoint = <&panel_in>;
				};
			};

			port@1 {
				reg = <1>;

				bridge_in: endpoint {
					remote-endpoint = <&dsi_out>;
				};
			};
		};
	};
};

&lcdif {
	status = "okay";
	max-memory-bandwidth = <497829888>; /* 1920x1080-32@60.02 */

	assigned-clocks = <&clk IMX8MQ_CLK_LCDIF_PIXEL>,
			  <&clk IMX8MQ_VIDEO_PLL1_BYPASS>,
			  <&clk IMX8MQ_VIDEO_PLL1_REF_SEL>,
			  <&clk IMX8MQ_VIDEO_PLL1>;
	assigned-clock-parents = <&clk IMX8MQ_VIDEO_PLL1_OUT>,
				 <&clk IMX8MQ_VIDEO_PLL1>,
				 <&clk IMX8MQ_CLK_27M>;
	assigned-clock-rate = <126000000>, <0>, <0>, <1134000000>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			lcdif_mipi_dsi: endpoint {
				remote-endpoint = <&mipi_dsi_in>;
			};
		};
	};
};

&dphy {
	status = "okay";
};

&mipi_dsi {
	status = "okay";
	as_bridge;
	sync-pol = <1>;
	pwr-delay = <10>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			mipi_dsi_in: endpoint {
				remote-endpoint = <&lcdif_mipi_dsi>;
			};
		};

		port@1 {
			reg = <1>;

			dsi_out: endpoint {
				remote-endpoint = <&bridge_in>;
			};
		};
	};
};

&iomuxc {
	pinctrl-names = "default";

	pinctrl_i2c2_sn65dsi83: sn65dsi83_i2c2_grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SAI3_RXD_GPIO4_IO30		0x16
		>;
	};

	pinctrl_pwm4: pwm4grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SAI3_MCLK_PWM4_OUT			0x16
		>;
	};

	pinctrl_lcd: lcd0grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SAI3_TXD_GPIO5_IO1                 0x16
		>;
	};
};
