// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2017 PHYTEC Messtechnik GmbH
 * Author: Christian Hemp <c.hemp@phytec.de>
 */

#include "imx8qm.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/net/ti-dp83867.h>

/ {
	model = "PHYTEC phyCORE-i.MX8";
	compatible = "phytec,imx8qm-pcm064", "fsl,imx8qm";

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		user {
			label = "heartbeat";
			gpios = <&lsio_gpio1 22 0>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		dsp_reserved: dsp@0x92400000 {
			no-map;
			reg = <0 0x92400000 0 0x2000000>;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x3c000000>;
			alloc-ranges = <0 0x96000000 0 0x3c000000>;
			linux,cma-default;
		};

	};
};

&dc0_dpr1_channel1 {
	status = "okay";
};

&dc0_dpr1_channel2 {
	status = "okay";
};

&dc0_dpr1_channel3 {
	status = "okay";
};

&dc0_dpr2_channel1 {
	status = "okay";
};

&dc0_dpr2_channel2 {
	status = "okay";
};

&dc0_dpr2_channel3 {
	status = "okay";
};

&dc1_dpr1_channel1 {
	status = "okay";
};

&dc1_dpr1_channel2 {
	status = "okay";
};

&dc1_dpr1_channel3 {
	status = "okay";
};

&dc1_dpr2_channel1 {
	status = "okay";
};

&dc1_dpr2_channel2 {
	status = "okay";
};

&dc1_dpr2_channel3 {
	status = "okay";
};

&dpu1 {
	status = "okay";
};

&dpu2 {
	status = "okay";
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	fsl,magic-packet;
	status = "okay";
	fsl,mii-exclusive;
	phy-reset-gpios = <&lsio_gpio1 1 GPIO_ACTIVE_LOW>;

	mdio@0 {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			interrupt-parent = <&lsio_gpio1>;
			interrupts = <2 IRQ_TYPE_EDGE_FALLING>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
			enet-phy-lane-no-swap;
		};
	};
};

&flexspi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi0>;
	status = "okay";

	flash0: mt35xu512aba@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,mt35xu512aba";
		spi-max-frequency = <133000000>;
		spi-nor,ddr-quad-read-dummy = <8>;
	};
};

&gpu_3d0 {
	status = "okay";
};

&gpu_3d1 {
	status = "okay";
};

&imx8_gpu_ss {
	status = "okay";
};

&dc0_pc {
	status = "okay";
};

&dc1_pc {
	status = "okay";
};

&dc0_prg1 {
	status = "okay";
};

&dc0_prg2 {
	status = "okay";
};

&dc0_prg3 {
	status = "okay";
};

&dc0_prg4 {
	status = "okay";
};

&dc0_prg5 {
	status = "okay";
};

&dc0_prg6 {
	status = "okay";
};

&dc0_prg7 {
	status = "okay";
};

&dc0_prg8 {
	status = "okay";
};

&dc0_prg9 {
	status = "okay";
};

&dc1_prg1 {
	status = "okay";
};

&dc1_prg2 {
	status = "okay";
};

&dc1_prg3 {
	status = "okay";
};

&dc1_prg4 {
	status = "okay";
};

&dc1_prg5 {
	status = "okay";
};

&dc1_prg6 {
	status = "okay";
};

&dc1_prg7 {
	status = "okay";
};

&dc1_prg8 {
	status = "okay";
};

&dc1_prg9 {
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&vpu_decoder {
	core_type = <2>;
	status = "okay";
};

&vpu_encoder {
	status = "okay";
};

&iomuxc {
	pinctrl_fec1: fec1grp {
		fsl,pins = <
			IMX8QM_ENET0_MDC_CONN_ENET0_MDC			0x06000020
			IMX8QM_ENET0_MDIO_CONN_ENET0_MDIO			0x06000020
			IMX8QM_ENET0_RGMII_TX_CTL_CONN_ENET0_RGMII_TX_CTL	0x06000020
			IMX8QM_ENET0_RGMII_TXC_CONN_ENET0_RGMII_TXC	0x06000020
			IMX8QM_ENET0_RGMII_TXD0_CONN_ENET0_RGMII_TXD0	0x06000020
			IMX8QM_ENET0_RGMII_TXD1_CONN_ENET0_RGMII_TXD1	0x06000020
			IMX8QM_ENET0_RGMII_TXD2_CONN_ENET0_RGMII_TXD2	0x06000020
			IMX8QM_ENET0_RGMII_TXD3_CONN_ENET0_RGMII_TXD3	0x06000020
			IMX8QM_ENET0_RGMII_RXC_CONN_ENET0_RGMII_RXC	0x06000020
			IMX8QM_ENET0_RGMII_RX_CTL_CONN_ENET0_RGMII_RX_CTL	0x06000020
			IMX8QM_ENET0_RGMII_RXD0_CONN_ENET0_RGMII_RXD0	0x06000060
			IMX8QM_ENET0_RGMII_RXD1_CONN_ENET0_RGMII_RXD1	0x06000060
			IMX8QM_ENET0_RGMII_RXD2_CONN_ENET0_RGMII_RXD2	0x06000060
			IMX8QM_ENET0_RGMII_RXD3_CONN_ENET0_RGMII_RXD3	0x06000060
			IMX8QM_SCU_GPIO0_05_LSIO_GPIO1_IO01		0x00000021
			IMX8QM_SCU_GPIO0_06_LSIO_GPIO1_IO02		0x00000021
		>;
	};

	pinctrl_flexspi0: flexspi0grp {
		fsl,pins = <
			IMX8QM_QSPI0A_DATA0_LSIO_QSPI0A_DATA0	0x06000021
			IMX8QM_QSPI0A_DATA1_LSIO_QSPI0A_DATA1	0x06000021
			IMX8QM_QSPI0A_DATA2_LSIO_QSPI0A_DATA2	0x06000021
			IMX8QM_QSPI0A_DATA3_LSIO_QSPI0A_DATA3	0x06000021
			IMX8QM_QSPI0A_DQS_LSIO_QSPI0A_DQS	0x06000021
			IMX8QM_QSPI0A_SS0_B_LSIO_QSPI0A_SS0_B	0x06000021
			IMX8QM_QSPI0A_SCLK_LSIO_QSPI0A_SCLK	0x06000021
			IMX8QM_QSPI0B_SCLK_LSIO_QSPI0B_SCLK	0x06000021
			IMX8QM_QSPI0B_DATA0_LSIO_QSPI0B_DATA0	0x06000021
			IMX8QM_QSPI0B_DATA1_LSIO_QSPI0B_DATA1	0x06000021
			IMX8QM_QSPI0B_DATA2_LSIO_QSPI0B_DATA2	0x06000021
			IMX8QM_QSPI0B_DATA3_LSIO_QSPI0B_DATA3	0x06000021
			IMX8QM_QSPI0B_SS0_B_LSIO_QSPI0B_SS0_B	0x06000021
		>;
	};

	pinctrl_gpio_leds: gpioledsgrp {
		fsl,pins = <
			IMX8QM_MIPI_DSI1_GPIO0_00_LSIO_GPIO1_IO22	0x00000021
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			IMX8QM_EMMC0_CLK_CONN_EMMC0_CLK		0x06000041
			IMX8QM_EMMC0_CMD_CONN_EMMC0_CMD		0x00000021
			IMX8QM_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000021
			IMX8QM_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000021
			IMX8QM_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000021
			IMX8QM_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000021
			IMX8QM_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000021
			IMX8QM_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000021
			IMX8QM_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000021
			IMX8QM_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000021
			IMX8QM_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000041
			IMX8QM_EMMC0_RESET_B_CONN_EMMC0_RESET_B	0x00000021
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
		fsl,pins = <
			IMX8QM_EMMC0_CLK_CONN_EMMC0_CLK		0x06000040
			IMX8QM_EMMC0_CMD_CONN_EMMC0_CMD		0x00000020
			IMX8QM_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000020
			IMX8QM_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000020
			IMX8QM_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000020
			IMX8QM_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000020
			IMX8QM_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000020
			IMX8QM_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000020
			IMX8QM_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000020
			IMX8QM_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000020
			IMX8QM_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000040
			IMX8QM_EMMC0_RESET_B_CONN_EMMC0_RESET_B	0x00000020
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
		fsl,pins = <
			IMX8QM_EMMC0_CLK_CONN_EMMC0_CLK		0x06000040
			IMX8QM_EMMC0_CMD_CONN_EMMC0_CMD		0x00000020
			IMX8QM_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000020
			IMX8QM_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000020
			IMX8QM_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000020
			IMX8QM_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000020
			IMX8QM_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000020
			IMX8QM_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000020
			IMX8QM_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000020
			IMX8QM_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000020
			IMX8QM_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000040
			IMX8QM_EMMC0_RESET_B_CONN_EMMC0_RESET_B	0x00000020
		>;
	};
};
