// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2025 PHYTEC Messtechnik GmbH
 * Christoph Stoidner <c.stoidner@phytec.de>
 *
 * Product homepage:
 * https://www.phytec.eu/en/produkte/system-on-modules/phyflex-imx-91-93/
 */

#include <dt-bindings/leds/common.h>

#include "imx93.dtsi"

/{
	model = "PHYTEC phyFLEX-i.MX93";
	compatible = "phytec,imx93-phyflex-fpsc-g", "fsl,imx93";

	aliases {
		/* FPSC alias definitions */
		/delete-property/ ethernet0;
		ethernet1 = &fec;
		ethernet2 = &eqos;
		/delete-property/ i2c0;
		i2c1 = &lpi2c3;
		i2c2 = &lpi2c1;
		i2c3 = &lpi2c2;
		pwm1 = &tpm3;
		pwm2 = &tpm4;
		/delete-property/ serial0;
		serial1 = &lpuart6;
		serial2 = &lpuart2;
		serial3 = &lpuart1;
		spi0 = &flexspi1;
		spi1 = &lpspi6;
		spi2 = &lpspi3;
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		gpio = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		regulator-name = "VCC_SD";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
	};

	reserved-memory {
		ranges;
		#address-cells = <2>;
		#size-cells = <2>;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0 0x80000000 0 0x40000000>;
			size = <0 0x10000000>;
			linux,cma-default;
		};

		ele_reserved: ele-reserved@a4120000 {
			compatible = "shared-dma-pool";
			reg = <0 0xa4120000 0 0x100000>;
			no-map;
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		led-0 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_HEARTBEAT;
			gpios = <&gpio3 26 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	reg_vdda_1v8: regulator-vdda-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VDDA_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&buck5>;
	};
};

/* ADC */
&adc1 {
	vref-supply = <&reg_vdda_1v8>;
};

/* Secure enclave */
&ele_fw2 {
	memory-region = <&ele_reserved>;
};

/* FPSC ENET2 */
&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
};

/* FPSC ENET1 */
&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	fsl,magic-packet;
	status = "okay";

	mdio: mdio {
		clock-frequency = <5000000>;
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			interrupt-parent = <&gpio4>;
			interrupts = <28 IRQ_TYPE_LEVEL_LOW>;
			ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_1_50_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_1_75_NS>;
		};
	};
};

&gpio1 {
	gpio-line-names = "", "", "", "", "",
			  "", "", "", "", "",
			  "USB2_PWR_EN", "USB2_OC";
};

/* FPSC GPIO */
&gpio2 {
	gpio-line-names = "", "", "", "", "",
			  "", "", "", "", "",
			  "", "", "", "", "GPIO1",
			  "GPIO2", "", "", "", "",
			  "", "", "GPIO3", "GPIO4", "USB1_PWR_EN";
	pinctrl-0 = <&pinctrl_gpio2>;
	pinctrl-names = "default";
};

&gpio3 {
	gpio-line-names = "", "", "", "", "",
			  "", "", "", "", "",
			  "", "", "", "", "",
			  "", "", "", "", "",
			  "", "", "", "", "",
			  "", "", "USB1_OC";
};

/* FPSC I2C2 */
&lpi2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	pinctrl-1 = <&pinctrl_lpi2c1_gpio>;
	scl-gpios = <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio1 1 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
};

/* FPSC I2C3 */
&lpi2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_lpi2c2>;
	pinctrl-1 = <&pinctrl_lpi2c2_gpio>;
	scl-gpios = <&gpio1 2 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio1 3 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
};

/* FPSC I2C1 */
&lpi2c3 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	pinctrl-1 = <&pinctrl_lpi2c3_gpio>;
	scl-gpios = <&gpio2 29 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio2 28 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";

	pmic@25 {
		compatible = "nxp,pca9451a";
		reg = <0x25>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic>;
		interrupt-parent = <&gpio1>;
		interrupts = <14 IRQ_TYPE_LEVEL_LOW>;

		regulators {
			buck1: BUCK1 {
				regulator-name = "VDD_SOC";
				regulator-min-microvolt = <610000>;
				regulator-max-microvolt = <950000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck2: BUCK2 {
				regulator-name = "VDDQ_0V6";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <600000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck4: BUCK4 {
				regulator-name = "VDD_3V3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5: BUCK5 {
				regulator-name = "VDD_1V8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6: BUCK6 {
				regulator-name = "VDD_1V1";
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1100000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1: LDO1 {
				regulator-name = "PMIC_SNVS_1V8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4: LDO4 {
				regulator-name = "VDD_0V8";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo5: LDO5 {
				regulator-name = "NVCC_SD2";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};

	temperature-sensor@48 {
		compatible = "ti,tmp102";
		reg = <0x48>;
		#thermal-sensor-cells = <1>;
	};

	/* factory EEPROM */
	eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
		pagesize = <32>;
		vcc-supply = <&buck5>;
	};

	/* User EEPROM */
	eeprom@51 {
		compatible = "atmel,24c32";
		reg = <0x51>;
		pagesize = <32>;
		vcc-supply = <&buck5>;
	};

	/* RTC */
	i2c_rtc: rtc@52 {
		compatible = "microcrystal,rv3028";
		reg = <0x52>;
		trickle-resistor-ohms = <3000>;
	};
};

/* PXP */
&epxp {
	status = "okay";
};

/* FPSC CAN1 */
&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
};

/* FPSC CAN2 */
&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
};

/* FPSC QSPI */
&flexspi1 {
	pinctrl-0 = <&pinctrl_flexspi>;
	pinctrl-names = "default";
};

/* Frequency scaling */
&lpm {
	soc-supply = <&buck1>;
	ld-mode-enabled;
	status = "okay";
};

/* FPSC SPI2 */
&lpspi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi3>;
	cs-gpios = <&gpio2 8 GPIO_ACTIVE_LOW>;
};

/* FPSC SPI1 */
&lpspi6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi6>;
	cs-gpios = <&gpio2 0 GPIO_ACTIVE_LOW>;
	num-cs = <1>;
};

/* Console */
&lpuart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
};

/* FPSC UART2 */
&lpuart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
};

/* FPSC UART1 */
&lpuart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
};

/* FPSC PWM1 */
&tpm3 {
	pinctrl-0 = <&pinctrl_tpm3>;
	pinctrl-names = "default";
};

/* FPSC PWM2 */
&tpm4 {
	pinctrl-0 = <&pinctrl_tpm4>;
	pinctrl-names = "default";
};

/* FPSC USB1 */
&usbotg1 {
	pinctrl-0 = <&pinctrl_usbc>;
	pinctrl-names = "default";
};

/* FPSC USB2 */
&usbotg2 {
	pinctrl-0 = <&pinctrl_usb2>;
	pinctrl-names = "default";
};

/* eMMC */
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	fsl,strobe-dll-delay-target = <1>;
	non-removable;
	no-1-8-v;
	status = "okay";
};

/* SD-Card */
&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2_default>, <&pinctrl_usdhc2_cd>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_cd>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_cd>;
	cd-gpios = <&gpio3 0 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	bus-width = <4>;
	disable-wp;
	no-mmc;
	no-sdio;
};

/* Watchdog */
&wdog3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&iomuxc {
	pinctrl_eqos: eqosgrp {
		fsl,pins = <
			MX93_PAD_ENET1_RD0__ENET_QOS_RGMII_RD0			0x57e
			MX93_PAD_ENET1_RD1__ENET_QOS_RGMII_RD1			0x57e
			MX93_PAD_ENET1_RD2__ENET_QOS_RGMII_RD2			0x57e
			MX93_PAD_ENET1_RD3__ENET_QOS_RGMII_RD3			0x57e
			MX93_PAD_ENET1_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x5fe
			MX93_PAD_ENET1_RX_CTL__ENET_QOS_RGMII_RX_CTL		0x57e
			MX93_PAD_ENET1_TD0__ENET_QOS_RGMII_TD0			0x57e
			MX93_PAD_ENET1_TD1__ENET_QOS_RGMII_TD1			0x57e
			MX93_PAD_ENET1_TD2__ENET_QOS_RGMII_TD2			0x57e
			MX93_PAD_ENET1_TD3__ENET_QOS_RGMII_TD3			0x57e
			MX93_PAD_ENET1_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK	0x59e
			MX93_PAD_ENET1_TX_CTL__ENET_QOS_RGMII_TX_CTL		0x50e
			MX93_PAD_ENET1_MDIO__GPIO4_IO01				0x1002
		>;
	};

	pinctrl_fec: fecgrp {
		fsl,pins = <
			MX93_PAD_ENET2_MDC__ENET1_MDC			0x50e
			MX93_PAD_ENET2_MDIO__ENET1_MDIO			0x502
			MX93_PAD_ENET2_RD0__ENET1_RGMII_RD0		0x37e
			MX93_PAD_ENET2_RD1__ENET1_RGMII_RD1		0x37e
			MX93_PAD_ENET2_RD2__ENET1_RGMII_RD2		0x37e
			MX93_PAD_ENET2_RD3__ENET1_RGMII_RD3		0x37e
			MX93_PAD_ENET2_RXC__ENET1_RGMII_RXC		0x37e
			MX93_PAD_ENET2_RX_CTL__ENET1_RGMII_RX_CTL	0x57e
			MX93_PAD_ENET2_TD0__ENET1_RGMII_TD0		0x57e
			MX93_PAD_ENET2_TD1__ENET1_RGMII_TD1		0x57e
			MX93_PAD_ENET2_TD2__ENET1_RGMII_TD2		0x51e
			MX93_PAD_ENET2_TD3__ENET1_RGMII_TD3		0x51e
			MX93_PAD_ENET2_TXC__ENET1_RGMII_TXC		0x51e
			MX93_PAD_ENET2_TX_CTL__ENET1_RGMII_TX_CTL	0x50e
			MX93_PAD_CCM_CLKO3__GPIO4_IO28			0x1002
		>;
	};

	pinctrl_gpio2: gpio2grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO14__GPIO2_IO14		0x31e	/* GPIO1 */
			MX93_PAD_GPIO_IO15__GPIO2_IO15		0x31e	/* GPIO2 */
			MX93_PAD_GPIO_IO22__GPIO2_IO22		0x31e	/* GPIO3 */
			MX93_PAD_GPIO_IO23__GPIO2_IO23		0x31e	/* GPIO4 */
		>;
	};

	pinctrl_leds: ledsgrp {
		fsl,pins = <
			MX93_PAD_CCM_CLKO1__GPIO3_IO26		0x11e
		>;
	};

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX93_PAD_PDM_BIT_STREAM0__CAN1_RX       0x139e
			MX93_PAD_PDM_CLK__CAN1_TX               0x1382
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO27__CAN2_RX             0x139e
			MX93_PAD_GPIO_IO25__CAN2_TX             0x1382
		>;
	};

	pinctrl_flexspi: flexspigrp {
		fsl,pins = <
			MX93_PAD_SD3_CLK__FLEXSPI1_A_SCLK		0x186   /* QSPI_CLK */
			MX93_PAD_SD3_CMD__FLEXSPI1_A_SS0_B		0x38e   /* QSPI_DATA_0 */
			MX93_PAD_SD3_DATA0__FLEXSPI1_A_DATA00		0x38e   /* QSPI_DATA_1 */
			MX93_PAD_SD3_DATA1__FLEXSPI1_A_DATA01		0x38e   /* QSPI_DATA_2 */
			MX93_PAD_SD3_DATA2__FLEXSPI1_A_DATA02		0x38e   /* QSPI_DATA_3 */
			MX93_PAD_SD3_DATA3__FLEXSPI1_A_DATA03		0x38e   /* QSPI_DQS */
		>;
	};

	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			MX93_PAD_I2C1_SDA__LPI2C1_SDA           0x40000b9e
			MX93_PAD_I2C1_SCL__LPI2C1_SCL           0x40000b9e
		>;
	};

	pinctrl_lpi2c1_gpio: lpi2c1gpiogrp {
		fsl,pins = <
			MX93_PAD_I2C1_SDA__GPIO1_IO01           0x31e
			MX93_PAD_I2C1_SCL__GPIO1_IO00           0x31e
		>;
	};

	pinctrl_lpi2c2: lpi2c2grp {
		fsl,pins = <
			MX93_PAD_I2C2_SDA__LPI2C2_SDA		0x40000b9e
			MX93_PAD_I2C2_SCL__LPI2C2_SCL		0x40000b9e
		>;
	};

	pinctrl_lpi2c2_gpio: lpi2c2gpiogrp {
		fsl,pins = <
			MX93_PAD_I2C2_SDA__GPIO1_IO03		0x31e
			MX93_PAD_I2C2_SCL__GPIO1_IO02		0x31e
		>;
	};

	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO28__LPI2C3_SDA		0x40000b9e
			MX93_PAD_GPIO_IO29__LPI2C3_SCL		0x40000b9e
		>;
	};

	pinctrl_lpi2c3_gpio: lpi2c3gpiogrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO28__GPIO2_IO28		0x31e
			MX93_PAD_GPIO_IO29__GPIO2_IO29		0x31e
		>;
	};

	pinctrl_lpspi3: lpspi3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO08__GPIO2_IO08		0x386
			MX93_PAD_GPIO_IO09__LPSPI3_SIN		0x3fe
			MX93_PAD_GPIO_IO10__LPSPI3_SOUT		0x386
			MX93_PAD_GPIO_IO11__LPSPI3_SCK		0x386
		>;
	};

	pinctrl_lpspi6: lpspi6grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO00__GPIO2_IO00		0x386
			MX93_PAD_GPIO_IO01__LPSPI6_SIN		0x3fe
			MX93_PAD_GPIO_IO02__LPSPI6_SOUT		0x386
			MX93_PAD_GPIO_IO03__LPSPI6_SCK		0x386
		>;
	};

	pinctrl_pmic: pmicgrp {
		fsl,pins = <
			MX93_PAD_SAI1_RXD0__GPIO1_IO14		0x31e
		>;
	};

	pinctrl_tpm3: tpm3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO12__TPM3_CH2	0x51e
		>;
	};

	pinctrl_tpm4: tpm4grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO13__TPM4_CH2	0x51e
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX93_PAD_UART1_RXD__LPUART1_RX		0x31e
			MX93_PAD_UART1_TXD__LPUART1_TX		0x37e
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX93_PAD_UART2_RXD__LPUART2_RX          0x31e
			MX93_PAD_UART2_TXD__LPUART2_TX          0x37e
			MX93_PAD_SAI1_TXC__LPUART2_CTS_B        0x31e
			MX93_PAD_SAI1_TXD0__LPUART2_RTS_B       0x31e
		>;
	};

	pinctrl_uart6: uart6grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO05__LPUART6_RX          0x31e
			MX93_PAD_GPIO_IO04__LPUART6_TX          0x37e
			MX93_PAD_GPIO_IO06__LPUART6_CTS_B       0x31e
			MX93_PAD_GPIO_IO07__LPUART6_RTS_B       0x31e
		>;
	};

	pinctrl_usbc: usbcgrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO24__GPIO2_IO24		0x31e   /* USB1_PWR_EN */
			MX93_PAD_CCM_CLKO2__GPIO3_IO27		0x31e   /* USB1_OC */
		>;
	};

	pinctrl_usb2: usb2grp {
		fsl,pins = <
			MX93_PAD_PDM_BIT_STREAM1__GPIO1_IO10	0x31e   /* USB2_PWR_EN */
			MX93_PAD_SAI1_TXFS__GPIO1_IO11		0x31e   /* USB2_OC */
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK		0x119e
			MX93_PAD_SD1_CMD__USDHC1_CMD		0x40001386
			MX93_PAD_SD1_DATA0__USDHC1_DATA0	0x4000138e
			MX93_PAD_SD1_DATA1__USDHC1_DATA1	0x40001386
			MX93_PAD_SD1_DATA2__USDHC1_DATA2	0x4000138e
			MX93_PAD_SD1_DATA3__USDHC1_DATA3	0x40001386
			MX93_PAD_SD1_DATA4__USDHC1_DATA4	0x40001386
			MX93_PAD_SD1_DATA5__USDHC1_DATA5	0x40001386
			MX93_PAD_SD1_DATA6__USDHC1_DATA6	0x40001386
			MX93_PAD_SD1_DATA7__USDHC1_DATA7	0x40001386
			MX93_PAD_SD1_STROBE__USDHC1_STROBE	0x159e
			MX93_PAD_CCM_CLKO4__GPIO4_IO29		0x0200
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc1_100mhz: usdhc1-100mhzgrp {
		fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK		0x11be
			MX93_PAD_SD1_CMD__USDHC1_CMD		0x4000139e
			MX93_PAD_SD1_DATA0__USDHC1_DATA0	0x4000138e
			MX93_PAD_SD1_DATA1__USDHC1_DATA1	0x4000139e
			MX93_PAD_SD1_DATA2__USDHC1_DATA2	0x400013be
			MX93_PAD_SD1_DATA3__USDHC1_DATA3	0x4000139e
			MX93_PAD_SD1_DATA4__USDHC1_DATA4	0x4000139e
			MX93_PAD_SD1_DATA5__USDHC1_DATA5	0x4000139e
			MX93_PAD_SD1_DATA6__USDHC1_DATA6	0x4000139e
			MX93_PAD_SD1_DATA7__USDHC1_DATA7	0x4000139e
			MX93_PAD_SD1_STROBE__USDHC1_STROBE	0x159e
			MX93_PAD_CCM_CLKO4__GPIO4_IO29		0x0200
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <
			MX93_PAD_SD1_CLK__USDHC1_CLK		0x11be
			MX93_PAD_SD1_CMD__USDHC1_CMD		0x4000139e
			MX93_PAD_SD1_DATA0__USDHC1_DATA0	0x4000139e
			MX93_PAD_SD1_DATA1__USDHC1_DATA1	0x400013be
			MX93_PAD_SD1_DATA2__USDHC1_DATA2	0x400013be
			MX93_PAD_SD1_DATA3__USDHC1_DATA3	0x400013be
			MX93_PAD_SD1_DATA4__USDHC1_DATA4	0x400013be
			MX93_PAD_SD1_DATA5__USDHC1_DATA5	0x400013be
			MX93_PAD_SD1_DATA6__USDHC1_DATA6	0x400013be
			MX93_PAD_SD1_DATA7__USDHC1_DATA7	0x400013be
			MX93_PAD_SD1_STROBE__USDHC1_STROBE	0x159e
			MX93_PAD_CCM_CLKO4__GPIO4_IO29		0x0200
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmcgrp {
		fsl,pins = <
			MX93_PAD_SD2_RESET_B__GPIO3_IO07	0x31e
		>;
	};

	pinctrl_usdhc2_cd: usdhc2cdgrp {
		fsl,pins = <
			MX93_PAD_SD2_CD_B__GPIO3_IO00		0x31e
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc2_default: usdhc2grp {
		fsl,pins = <
			MX93_PAD_SD2_CLK__USDHC2_CLK		0x119e
			MX93_PAD_SD2_CMD__USDHC2_CMD		0x4000138e
			MX93_PAD_SD2_DATA0__USDHC2_DATA0	0x4000138e
			MX93_PAD_SD2_DATA1__USDHC2_DATA1	0x4000138e
			MX93_PAD_SD2_DATA2__USDHC2_DATA2	0x4000138e
			MX93_PAD_SD2_DATA3__USDHC2_DATA3	0x4000138e
			MX93_PAD_SD2_VSELECT__USDHC2_VSELECT	0x51e
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc2_100mhz: usdhc2-100mhzgrp {
		fsl,pins = <
			MX93_PAD_SD2_CLK__USDHC2_CLK		0x119e
			MX93_PAD_SD2_CMD__USDHC2_CMD		0x4000138e
			MX93_PAD_SD2_DATA0__USDHC2_DATA0	0x4000138e
			MX93_PAD_SD2_DATA1__USDHC2_DATA1	0x4000138e
			MX93_PAD_SD2_DATA2__USDHC2_DATA2	0x4000138e
			MX93_PAD_SD2_DATA3__USDHC2_DATA3	0x400013be
			MX93_PAD_SD2_VSELECT__USDHC2_VSELECT	0x51e
		>;
	};

	/* need to config the SION for data and cmd pad, refer to ERR052021 */
	pinctrl_usdhc2_200mhz: usdhc2-200mhzgrp {
		fsl,pins = <
			MX93_PAD_SD2_CLK__USDHC2_CLK		0x119e
			MX93_PAD_SD2_CMD__USDHC2_CMD		0x4000139e
			MX93_PAD_SD2_DATA0__USDHC2_DATA0	0x4000139e
			MX93_PAD_SD2_DATA1__USDHC2_DATA1	0x4000139e
			MX93_PAD_SD2_DATA2__USDHC2_DATA2	0x4000139e
			MX93_PAD_SD2_DATA3__USDHC2_DATA3	0x4000139e
			MX93_PAD_SD2_VSELECT__USDHC2_VSELECT	0x51e
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX93_PAD_WDOG_ANY__WDOG1_WDOG_ANY	0x31e
		>;
	};
};
