// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) 2025 PHYTEC Messtechnik GmbH
 */

#include <dt-bindings/gpio/gpio.h>
#include "imx95-pinfunc.h"
#include "imx95-clock.h"


&{/} {
	panel_lvds2: panel-lvds1 {
		backlight = <&backlight>;
		pinctrl-0 = <&pinctrl_lvds1>;
		pinctrl-names = "default";
		power-supply = <&reg_vdd_3v3>;
		enable-gpios =<&gpio5 8 GPIO_ACTIVE_HIGH>;

		status = "disabled";

		port {
			panel1_in: endpoint {
				remote-endpoint = <&lvds2_out>;
			};
		};
	};

	reg_sound_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VCC_1V8_Audio";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	reg_sound_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VCC_3V3_Analog";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	sound-peb-av-10 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "snd-peb-av-10";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master>;
		simple-audio-card,frame-master = <&dailink_master>;
		simple-audio-card,mclk-fs = <32>;
		simple-audio-card,widgets =
			"Line", "Line In",
			"Speaker", "Speaker",
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Speaker", "SPOP",
			"Speaker", "SPOM",
			"Headphone Jack", "HPLOUT",
			"Headphone Jack", "HPROUT",
			"LINE1L", "Line In",
			"LINE1R", "Line In",
			"MIC3R", "Microphone Jack",
			"Microphone Jack", "Mic Bias";
		status = "disabled";

		simple-audio-card,cpu {
			sound-dai = <&sai5>;
		};

		dailink_master: simple-audio-card,codec {
			sound-dai = <&codec>;
			clocks = <&osc_mclk_gated>;
		};
	};
};

&ldb {
	#address-cells = <1>;
	#size-cells = <0>;
	/* 72.4 MHz Pixel clock */
	assigned-clocks = <&scmi_clk IMX95_CLK_LDBPLL_VCO>,
			  <&scmi_clk IMX95_CLK_LDBPLL>;
	assigned-clock-rates = <3040800000>, <506800000>;

	channel@1 {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			lvds2_out: endpoint {
				remote-endpoint = <&panel1_in>;
			};
		};
	};
};

&lpi2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	codec: codec@18 {
		compatible = "ti,tlv320aic3007";
		reg = <0x18>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tlv320>;
		#sound-dai-cells = <0>;
		ai3x-gpio-func = <0xd 0x0>;
		ai3x-micbias-vg = <2>;
		AVDD-supply = <&reg_sound_3v3>;
		IOVDD-supply = <&reg_sound_3v3>;
		DRVDD-supply = <&reg_sound_3v3>;
		DVDD-supply = <&reg_sound_1v8>;
		status = "disabled";
	};

	eeprom@57 {
		compatible = "atmel,24c32";
		reg = <0x57>;
		pagesize = <32>;
	};

	eeprom@5f {
		compatible = "atmel,24c32";
		reg = <0x5f>;
		pagesize = <32>;
		size = <32>;
	};
};

&sai5 {
	#sound-dai-cells = <0>;
	assigned-clocks = <&scmi_clk IMX95_CLK_AUDIOPLL1_VCO>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL2_VCO>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL1>,
			  <&scmi_clk IMX95_CLK_AUDIOPLL2>,
			  <&scmi_clk IMX95_CLK_SAI5>;
	assigned-clock-parents = <0>, <0>, <0>, <0>,
				 <&scmi_clk IMX95_CLK_AUDIOPLL1>;
	assigned-clock-rates = <3932160000>,
			       <3612672000>, <393216000>,
			       <361267200>, <19200000>;
};


/* overwrite, we don't use all of them here */
&pinctrl_sai5 {
	fsl,pins = <
		IMX95_PAD_XSPI1_DATA7__SAI5_RX_DATA_BIT0	0x51e	/* SAI1_RX_DATA */
		IMX95_PAD_XSPI1_DATA5__SAI5_TX_SYNC		0x51e	/* SAI1_TX_SYNC */
		IMX95_PAD_XSPI1_DATA6__SAI5_TX_BCLK		0x51e	/* SAI1_TX_BCLK */
		IMX95_PAD_XSPI1_DATA4__SAI5_TX_DATA_BIT0	0x51e	/* SAI1_TX_DATA */
	>;
};

&scmi_iomuxc {
	pinctrl_lvds1: lvds1grp {
		fsl,pins = <
			IMX95_PAD_XSPI1_DQS__GPIO5_IO_BIT8	0x31e	/* DISPLAY ENABLE */
		>;
	};

	pinctrl_tlv320: tlv320grp {
		fsl,pins = <
			IMX95_PAD_XSPI1_SS1_B__GPIO5_IO_BIT11	0x31e	/* TLV320 GPIO1 */
		>;
	};
};
