// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2025 PHYTEC Messtechnik GmbH
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pwm/pwm.h>

#include "imx95-phyflex-fpsc-g-som.dtsi"

/ {
	compatible = "phytec,imx95-phyflex-libra-rdk",
		     "phytec,imx95-phyflex-fpsc-g", "fsl,imx95";
	model = "PHYTEC Libra phyFLEX-i.MX95 FPSC";

	aliases {
		ethernet3 = &enetc_port2;
		mmc0 = &usdhc1;
		mmc1 = &usdhc2;
		mmc2 = &usdhc3;
		rtc0 = &rv3028;
		rtc1 = &scmi_bbm;
	};

	chosen {
		stdout-path = &lpuart7;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		power-supply = <&reg_vdd_12v0>;
		brightness-levels = <0 8 16 32 64 128 255>;
		default-brightness-level = <8>;
		num-interpolated-steps = <2>;
		pwms = <&tpm3 3 66667 0>;
		status = "disabled";
	};

	can_transceiver1: can-phy1 {
		compatible = "ti,tcan1043";
		#phy-cells = <0>;
		max-bitrate = <8000000>;
		standby-gpios = <&gpio_expander2 0 GPIO_ACTIVE_HIGH>;
	};

	can_transceiver2: can-phy2 {
		compatible = "ti,tcan1043";
		#phy-cells = <0>;
		max-bitrate = <8000000>;
		standby-gpios = <&gpio_expander2 1 GPIO_ACTIVE_HIGH>;
	};

	connector {
		compatible = "usb-c-connector";
		label = "USB-C";
		data-role = "dual";
		pd-disable;
		self-powered;
		vbus-supply = <&reg_vdd_vbus>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				hs_ep: endpoint {
					remote-endpoint = <&usb3_hs_ep>;
				};
			};
			port@1 {
				reg = <1>;

				ss_ep: endpoint {
					remote-endpoint = <&hd3ss3220_in_ep>;
				};
			};
		};
	};

	osc_mclk: oscillator-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
		status = "disabled";
	};

	osc_mclk_gated: oscillator-mclk-gated {
		compatible = "gpio-gate-clock";
		#clock-cells = <0>;
		clocks = <&osc_mclk>;
		enable-gpios = <&gpio_expander1 8 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	panel_lvds1: panel-lvds0 {
		backlight = <&backlight>;
		enable-gpios = <&gpio_expander2 9 GPIO_ACTIVE_HIGH>;
		power-supply = <&reg_vdd_3v3>;
		status = "disabled";
	};

	fan: pwm-fan {
		compatible = "pwm-fan";
		interrupt-parent = <&gpio1>;
		interrupts = <4 IRQ_TYPE_EDGE_RISING>;
		#cooling-cells = <2>;
		/* startup 35%, duty cycle 30%-100%;
		 * polarity inversion does not appear to work
		 */
		cooling-levels = <255 166 96 0>;
		/* fan-supply = <&reg_vdd_5v0>;  probe fails with this set */
		pwms = <&tpm5 3 86958 0>;
		pulses-per-revolution = <2>;
	};

	reg_vdd_12v0: regulator-vdd-12v0 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <12000000>;
		regulator-min-microvolt = <12000000>;
		regulator-name = "VDD_12V0";
	};

	reg_vdd_1v8: regulator-vdd-1v8 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "VDD_1V8";
	};

	reg_vdd_3v3: regulator-vdd-3v3 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "VDD_3V3";
	};

	reg_vdd_5v0: regulator-vdd-5v0 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-name = "VDD_5V0";
	};

	reg_vdd_5v0_ref: regulator-vdd-5v0-ref {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-name = "VDD_5V0_REF";
	};

	reg_vdd_vbus: regulator-vdd-vbus {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-name = "VDD_VBUS_C";
	};

	reg_usb3_phy: regulator-usb-vbus {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-name = "usb3-phy-dummy";
	};

	sfp_cage: sfp {
		compatible = "sff,sfp";
		i2c-bus = <&lpi2c4>;
		los-gpios = <&gpio_expander2 14 GPIO_ACTIVE_HIGH>;
		maximum-power-milliwatt = <2500>;
		mod-def0-gpios = <&gpio_expander2 12 GPIO_ACTIVE_HIGH>;
		rate-select0-gpios = <&gpio_expander2 13 GPIO_ACTIVE_HIGH>;
		rate-select1-gpios = <&gpio_expander2 15 GPIO_ACTIVE_HIGH>;
		tx-fault-gpios = <&gpio_expander2 10 GPIO_ACTIVE_HIGH>;
		tx-disable-gpios = <&gpio_expander2 11 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};
};

&enetc_port0 {
	phy-handle = <&ethphy0>;
	status = "okay";
};

&enetc_port2 {
	max-speed = <10000>;
	phy-mode = "10gbase-r";
	sfp = <&sfp_cage>;
};

/* CAN FD */
&flexcan1 {
	phys = <&can_transceiver1>;
	status = "okay";
};

&flexcan2 {
	phys = <&can_transceiver2>;
	status = "okay";
};

/* SPI-NOR */
&flexspi1 {
	pinctrl-0 = <&pinctrl_flexspi>;
	pinctrl-names = "default";
	status = "okay";

	spi_nor: flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <166000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		vcc-supply = <&reg_vdd_1v8>;
	};
};

&gpio2 {
	gpio-line-names = "", "", "", "", "",
			  "", "", "", "", "",
			  "", "", "", "", "",
			  "", "RGMII2_nINT", "GPIO4", "RTC_INT", "",
			  "LVDS1_BL_EN";
};

&lpi2c3 {
	status = "okay";

	gpio_expander2: gpio@21 {
		compatible = "ti,tcal6416";
		reg = <0x21>;
		interrupt-parent = <&gpio2>;
		interrupts = <17 IRQ_TYPE_LEVEL_LOW>;
		#interrupt-cells = <2>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "CAN1_STBY", "CAN2_STBY", "NC",
				  "KEY-E_nALERT", "KEY-M_nALERT",
				  "SDIO_nWAKE", "SDIO_nRESET", "HDMI_EN",
				  "RTC_nINT", "LVDS1_BL_EN", "SFP_TX_FAULT",
				  "SFP_TX_DISABLE", "SFP_MOD_ABS", "SFP_RS0",
				  "SFP_RX_LOSS", "SFP_RS1";
		interrupt-controller;
		vcc-supply = <&reg_vdd_1v8>;
	};

	led-controller@62 {
		compatible = "nxp,pca9633";
		reg = <0x62>;
		#address-cells = <1>;
		#size-cells = <0>;

		led@0 {
			reg = <0>;
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_STATUS;
		};

		led@1 {
			reg = <1>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
		};

		led@2 {
			reg = <2>;
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_STATUS;
		};
	};

	usb-typec@47 {
		compatible = "ti,hd3ss3220";
		reg = <0x47>;
		interrupt-parent = <&gpio_expander1>;
		interrupts = <4 IRQ_TYPE_LEVEL_LOW>;
		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				hd3ss3220_in_ep: endpoint {
					remote-endpoint = <&ss_ep>;
				};
			};

			port@1 {
				reg = <1>;

				hd3ss3220_out_ep: endpoint {
					remote-endpoint = <&usb3_role_switch>;
				};
			};
		};
	};
};

&lpi2c5 {
	status = "okay";

	gpio_expander1: gpio@21 {
		compatible = "ti,tcal6416";
		reg = <0x21>;
		interrupt-controller;
		interrupt-parent = <&gpio1>;
		interrupts = <12 IRQ_TYPE_LEVEL_LOW>;
		#interrupt-cells = <2>;
		#gpio-cells = <2>;
		gpio-controller;
		gpio-line-names = "VCONN_nFAULT", "CSI1_CTRL1", "CSI1_CTRL3",
				  "CSI1_CTRL4", "USB-C_nINT/AUDIO_AC",
				  "CSI2_CTRL1", "CSI2_CTRL3", "CSI2_CTRL4",
				  "CLK_EN_AV", "W_nDISABLE1", "W_nDISABLE2",
				  "PCIE1_nWAKE", "PCIE2_nWAKE", "UART1_nWAKE",
				  "UART1_BT_RS_SEL", "UART1_RS232_485_SEL";

		vcc-supply = <&reg_vdd_1v8>;
	};

	/* Factory EEPROM */
	eeprom@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
		pagesize = <16>;
		read-only;
		vcc-supply = <&reg_vdd_1v8>;
	};

	/* User EEPROM */
	eeprom@52 {
		compatible = "atmel,24c02";
		reg = <0x52>;
		pagesize = <16>;
		vcc-supply = <&reg_vdd_1v8>;
	};
};

&lpspi3 {
	#address-cells = <1>;
	#size-cells = <0>;
	num-cs = <1>;
	assigned-clocks = <&scmi_clk IMX95_CLK_LPSPI3>;
	assigned-clock-parents = <&scmi_clk IMX95_CLK_SYSPLL1_PFD0_DIV2>;
	assigned-clock-rates = <50000000>;
	status = "okay";

	tpm: tpm@0 {
		compatible = "infineon,slb9670", "tcg,tpm_tis-spi";
		reg = <0>;
		spi-max-frequency = <22500000>;
	};
};

&lpspi7 {
	#address-cells = <1>;
	#size-cells = <0>;
	num-cs = <1>;
	status = "okay";

	adc@0 {
		compatible = "microchip,mcp3208";
		reg = <0>;
		vref-supply = <&reg_vdd_5v0_ref>;
		#io-channel-cells = <1>;
	};
};

/* Used for M33 debug */
&lpuart2 {
	pinctrl-0 = <&pinctrl_lpuart2>;
	pinctrl-names = "default";
};

/* A-55 debug UART */
&lpuart7 {
	status = "okay";
};

/* RS232/RS485/BT */
&lpuart8 {
	uart-has-rtscts;
	status = "okay";
};

&netc_emdio { /* RGMII2 */
	ethphy0: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		interrupt-parent = <&gpio2>;
		interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
		enet-phy-lane-no-swap;
		ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		ti,output-impedance = <0x18>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
	};
};

&pcie0 {
	external-facing;
	reset-gpio = <&gpio1 10 GPIO_ACTIVE_LOW>;
	supports-clkreq;
	vpcie-supply = <&reg_vdd_3v3>;
	wake-gpios = <&gpio_expander1 11 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pcie1 {
	external-facing;
	reset-gpio = <&gpio1 14 GPIO_ACTIVE_LOW>;
	supports-clkreq;
	vpcie-supply = <&reg_vdd_3v3>;
	wake-gpios = <&gpio_expander1 12 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&rv3028 {
	interrupt-parent = <&gpio_expander2>;
	interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
	aux-voltage-chargeable = <1>;
	wakeup-source;
};

&scmi_iomuxc {
	pinctrl_lpuart2: lpuart2grp { /* FPSC proprietary */
		fsl,pins = <
			IMX95_PAD_UART2_TXD__AONMIX_TOP_LPUART2_TX	0x31e
			IMX95_PAD_UART2_RXD__AONMIX_TOP_LPUART2_RX	0x31e
		>;
	};
};

&thermal_zones {
	a55-thermal {
		trips {
			atrip2: trip2 {
				temperature = <55000>;
				hysteresis = <2000>;
				type = "active";
			};

			atrip3: trip3 {
				temperature = <65000>;
				hysteresis = <2000>;
				type = "active";
			};

			atrip4: trip4 {
				temperature = <75000>;
				hysteresis = <2000>;
				type = "active";
			};
		};

		cooling-maps {
			map1 {
				trip = <&atrip2>;
				cooling-device = <&fan 0 1>;
			};

			map2 {
				trip = <&atrip3>;
				cooling-device = <&fan 1 2>;
			};

			map3 {
				trip = <&atrip4>;
				cooling-device = <&fan 2 3>;
			};
		};
	};
};

&tpm5 {
	status = "okay";
};

&usb2 {
	disable-over-current;
	status = "okay";
};

&usb3 {
	status = "okay";
};

&usb3_dwc3 {
	adp-disable;
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	usb-role-switch;
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			usb3_hs_ep: endpoint {
				remote-endpoint = <&hs_ep>;
			};
		};
		port@1 {
			reg = <1>;
			usb3_role_switch: endpoint {
				remote-endpoint = <&hd3ss3220_out_ep>;
			};
		};
	};
};

&usb3_phy {
	status = "okay";
	vbus-supply = <&reg_usb3_phy>;
};

&usbphynop {
	vbus-supply = <&reg_vdd_5v0>;
};

/* uSD Card */
&usdhc2 {
	status = "okay";
};

/* SDIO used on pcie m.2 key-E */
&usdhc3 {
	status = "okay";
};
