// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2025 PHYTEC Messtechnik GmbH
 * Author: Christoph Stoidner <c.stoidner@phytec.de>
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include "imx91-pinfunc.h"

/dts-v1/;
/plugin/;

/ {
	compatible = "phytec,imx91-phyboard-segin";
};

&{/} {
	panel {
		compatible = "edt,etm0700g0edh6";
		backlight = <&backlight_peb>;
		power-supply = <&reg_vcc_3v3>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&display_out>;
			};
		};
	};

	backlight_peb: backlight {
		compatible = "gpio-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight>;
		gpios = <&gpio4 28 GPIO_ACTIVE_HIGH>;
		default-on;
	};

	reg_backlight_en: regulator-backlight-en {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight_en>;
		regulator-name = "Backlight";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 29 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};
};

&lcdif {
	status = "okay";
	assigned-clock-rates = <150000000>, <30000000>, <400000000>, <133333333>;
};

&media_blk_ctrl {
	status = "okay";
};

&parallel_disp_fmt {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif>;
	fsl,interface-pix-fmt = "rgb666";
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			display_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&lpi2c2 {
	#address-cells = <1>;
	#size-cells = <0>;

	polytouch: edt-ft5x06@38 {
		compatible = "edt,edt-ft5406";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_edt_ft5x06>;
		interrupt-parent = <&gpio4>;
		interrupts = <12 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio4 1 GPIO_ACTIVE_LOW>;
		touchscreen-size-x = <1792>;
		touchscreen-size-y = <1024>;
		vcc-supply = <&reg_vcc_3v3>;
		iovcc-supply = <&reg_vcc_3v3>;
		wakeup-source;
		status = "okay";
	};
};

&iomuxc {
	pinctrl_backlight: backlightgrp {
		fsl,pins = <
			MX91_PAD_CCM_CLKO3__GPIO4_IO28 0x1133e
		>;
	};

	pinctrl_backlight_en: backlightengrp {
		fsl,pins = <
			MX91_PAD_CCM_CLKO4__GPIO4_IO29 0x1133e
		>;
	};

	pinctrl_edt_ft5x06: edtft5x06grp {
		fsl,pins = <
			MX91_PAD_ENET1_MDIO__GPIO4_IO1 0x11e
			MX91_PAD_ENET1_RD2__GPIO4_IO12 0x1133e
		>;
	};

	pinctrl_lcdif: lcdifgrp {
		fsl,pins = <
			MX91_PAD_GPIO_IO00__MEDIAMIX_DISP_CLK		0x50e
			MX91_PAD_GPIO_IO01__MEDIAMIX_DISP_DE		0x50e
			MX91_PAD_GPIO_IO02__MEDIAMIX_DISP_VSYNC		0x50e
			MX91_PAD_GPIO_IO03__MEDIAMIX_DISP_HSYNC		0x50e
			MX91_PAD_GPIO_IO04__MEDIAMIX_DISP_DATA0		0x50e
			MX91_PAD_GPIO_IO05__MEDIAMIX_DISP_DATA1		0x50e
			MX91_PAD_GPIO_IO06__MEDIAMIX_DISP_DATA2		0x50e
			MX91_PAD_GPIO_IO07__MEDIAMIX_DISP_DATA3		0x50e
			MX91_PAD_GPIO_IO08__MEDIAMIX_DISP_DATA4		0x50e
			MX91_PAD_GPIO_IO09__MEDIAMIX_DISP_DATA5		0x51e
			MX91_PAD_GPIO_IO10__MEDIAMIX_DISP_DATA6		0x50e
			MX91_PAD_GPIO_IO11__MEDIAMIX_DISP_DATA7		0x50e
			MX91_PAD_GPIO_IO12__MEDIAMIX_DISP_DATA8		0x50e
			MX91_PAD_GPIO_IO13__MEDIAMIX_DISP_DATA9		0x50e
			MX91_PAD_GPIO_IO14__MEDIAMIX_DISP_DATA10	0x50e
			MX91_PAD_GPIO_IO15__MEDIAMIX_DISP_DATA11	0x50e
			MX91_PAD_GPIO_IO16__MEDIAMIX_DISP_DATA12	0x506
			MX91_PAD_GPIO_IO17__MEDIAMIX_DISP_DATA13	0x506
			MX91_PAD_GPIO_IO18__MEDIAMIX_DISP_DATA14	0x506
			MX91_PAD_GPIO_IO19__MEDIAMIX_DISP_DATA15	0x506
			MX91_PAD_GPIO_IO20__MEDIAMIX_DISP_DATA16	0x506
			MX91_PAD_GPIO_IO21__MEDIAMIX_DISP_DATA17	0x506
		>;
	};
};
