// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2024 PHYTEC Messtechnik GmbH
 * Author: Primoz Fiser <primoz.fiser@norik.com>
 */

#include <dt-bindings/clock/imx93-clock.h>
#include <dt-bindings/gpio/gpio.h>
#include "imx93-pinfunc.h"

/dts-v1/;
/plugin/;

/ {
	compatible = "phytec,imx93-phyboard-nash";
};

&{/} {
	backlight: backlight {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight>;
		brightness-levels= <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		enable-gpios = <&gpio2 18 GPIO_ACTIVE_HIGH>;
		power-supply = <&reg_vcc_3v3>;
		pwms = <&tpm5 2 50000 0>;
	};

	panel {
		compatible = "edt,etml1010g3dra";
		backlight = <&backlight>;
		enable-gpios = <&gpio2 7 GPIO_ACTIVE_HIGH>;
		power-supply = <&reg_vcc_3v3>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&lvds_out>;
			};
		};
	};

	reg_sound_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VCC-1V8-AUDIO";
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
	};

	reg_sound_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VCC-3V3-AUDIO";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
	};

	sound-peb-av-10 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "snd-peb-av-10";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master>;
		simple-audio-card,frame-master = <&dailink_master>;
		simple-audio-card,widgets =
			"Line", "Line In",
			"Speaker", "Speaker",
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Speaker", "SPOP",
			"Speaker", "SPOM",
			"Headphone Jack", "HPLOUT",
			"Headphone Jack", "HPROUT",
			"LINE1L", "Line In",
			"LINE1R", "Line In",
			"MIC3R", "Microphone Jack",
			"Microphone Jack", "Mic Bias";

		simple-audio-card,cpu {
			sound-dai = <&sai1>;
		};

		dailink_master: simple-audio-card,codec {
			sound-dai = <&codec>;
			clocks = <&osc_mclk>;
		};
	};

	osc_mclk: oscillator-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
	};
};

&lcdif {
	assigned-clock-rates = <498000000>, <71142857>, <400000000>, <133333333>;
	status = "okay";
};

&ldb {
	status = "okay";

	lvds-channel@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";

		port@1 {
			reg = <1>;

			lvds_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&ldb_phy {
	status = "okay";
};

&lpi2c2 {
	#address-cells = <1>;
	#size-cells = <0>;

	codec: codec@18 {
		compatible = "ti,tlv320aic3007";
		reg = <0x18>;
		#sound-dai-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_codec>;
		reset-gpios = <&gpio2 14 GPIO_ACTIVE_LOW>;
		AVDD-supply = <&reg_sound_3v3>;
		DRVDD-supply = <&reg_sound_3v3>;
		DVDD-supply = <&reg_sound_1v8>;
		IOVDD-supply = <&reg_sound_3v3>;
		ai3x-gpio-func = <0xd 0x0>;
		ai3x-micbias-vg = <2>;
	};

	eeprom@57 {
		compatible = "atmel,24c32";
		reg = <0x57>;
		pagesize = <32>;
		vcc-supply = <&reg_vcc_3v3>;
	};

	eepromid@5f {
		compatible = "atmel,24c32";
		reg = <0x5f>;
		pagesize = <32>;
		size = <32>;
		vcc-supply = <&reg_vcc_3v3>;
	};
};

&sai1 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai1>;
	status = "okay";
};

&tpm5 {
	status = "okay";
};

&iomuxc {
	pinctrl_backlight: backlightgrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO18__TPM5_CH2		0x31e
			MX93_PAD_GPIO_IO07__GPIO2_IO07		0x31e
		>;
	};

	pinctrl_codec: codecgrp {
		fsl,pins = <
			MX93_PAD_GPIO_IO14__GPIO2_IO14		0x39e
		>;
	};

	pinctrl_sai1: sai1grp {
		fsl,pins = <
			MX93_PAD_SAI1_TXC__SAI1_TX_BCLK			0x1202
			MX93_PAD_SAI1_TXFS__SAI1_TX_SYNC		0x1202
			MX93_PAD_SAI1_TXD0__SAI1_TX_DATA00		0x1402
			MX93_PAD_SAI1_RXD0__SAI1_RX_DATA00		0x1402
		>;
	};
};
