// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2019 Daniel Glöckner <dg@emlix.com>
 */

/ {
	reg_usb_otg1_vbus: regulator-usb-otg1-vbus {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usbotg1pwrgrp>;
		compatible = "regulator-fixed";
		regulator-name = "usb_otg1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&iomuxc {
	imx8mm-phyboard-polis {
		pinctrl_ecspi2: ecspi2grp {
			fsl,pins = <
				MX8MM_IOMUXC_ECSPI2_SCLK_ECSPI2_SCLK	0x82
				MX8MM_IOMUXC_ECSPI2_MOSI_ECSPI2_MOSI	0x82
				MX8MM_IOMUXC_ECSPI2_MISO_ECSPI2_MISO	0x82
			>;
		};

		pinctrl_ecspi2_cs: ecspi2csgrp {
			fsl,pins = <
				MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13	0x00
			>;
		};

		pinctrl_tpm: tpmgrp {
			fsl,pins = <
				MX8MM_IOMUXC_SD1_RESET_B_GPIO2_IO10	0x140
				MX8MM_IOMUXC_SD1_STROBE_GPIO2_IO11	0x140
			>;
		};

		pinctrl_usbotg1pwrgrp: usbotg1pwrgrp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO12_GPIO1_IO12	0x00
			>;
		};

		pinctrl_usbotg1grp: usbotg1grp {
			fsl,pins = <
				MX8MM_IOMUXC_GPIO1_IO10_USB1_OTG_ID	0x80
				MX8MM_IOMUXC_GPIO1_IO13_USB1_OTG_OC	0x80
			>;
		};
	};
};

&ecspi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2 &pinctrl_ecspi2_cs>;
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>;
	status = "okay";

	tpm: tpm_tis@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tpm>;
		compatible = "tcg,tpm_tis-spi";
		reg = <0>;
		spi-max-frequency = <38000000>;
#if 0 /* IRQ support is not properly implemented in the driver */
		interrupt-parent = <&gpio2>;
		interrupts = <11 IRQ_TYPE_LEVEL_LOW>;
#endif
	};
};

&gpio2 {
	tpm_nreset {
		gpio-hog;
		gpios = <10 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "TPM_nRESET";
	};
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1grp>;
	vbus-supply = <&reg_usb_otg1_vbus>;
	dr_mode = "otg";
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	picophy,pre-emp-curr-control = <3>;
	picophy,dc-vol-level-adjust = <7>;
	status = "okay";
};
