// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2019 PHYTEC Messtechnik GmbH
 * Author: Teresa Remmet <t.remmet@phytec.de>
 *
 */

/ {
	backlight: backlight {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lcd>;
		default-brightness-level = <6>;
		pwms = <&pwm4 0 500000>;
		enable-gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
		brightness-levels= <0 4 8 16 32 64 128 255>;
		status = "okay";
	};

	panel: panel {
		compatible = "edt,etml1010g0dka";
		backlight = <&backlight>;
		status = "okay";

		port {
			panel_in: endpoint {
				remote-endpoint = <&bridge_out>;
			};
		};
	};

};

&pwm4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
};

&i2c3 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	sn65dsi83@2c {
		compatible = "ti,sn65dsi83";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_sn65dsi83>;
		enable-gpios = <&gpio4 30 GPIO_ACTIVE_LOW>;
		reg = <0x2c>;
		lanes_in = <4>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				bridge_out: endpoint {
					remote-endpoint = <&panel_in>;
				};
			};

			port@1 {
				reg = <1>;
				bridge_in: endpoint {
					remote-endpoint = <&dsi_out>;
				};
			};
                };
        };
};

&lcdif {
	status = "okay";
	max-res = <1920>, <1080>;
};

&mipi_dsi {
	status = "okay";
	as_bridge;
	sync-pol = <1>;
	pwr-delay = <10>;
};

&mipi_dsi_ports {
	port@1 {
		reg = <1>;
		dsi_out: endpoint {
			remote-endpoint = <&bridge_in>;
		};
	};
};

&iomuxc {
	peb-av-009 {
		pinctrl_pwm4: pwm4grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_MCLK_PWM4_OUT		0x12
			>;
		};

		pinctrl_lcd: lcd0grp {
			fsl,pins = <
				MX8MM_IOMUXC_SAI3_TXD_GPIO5_IO1		0x12
			>;
		};

		pinctrl_i2c3: i2c3grp {
			fsl,pins = <
				MX8MM_IOMUXC_I2C3_SCL_I2C3_SCL		0x400001c3
				MX8MM_IOMUXC_I2C3_SDA_I2C3_SDA		0x400001c3
			>;
		};

		pinctrl_sn65dsi83: sn65dsi83grp {
                        fsl,pins = <
                                MX8MM_IOMUXC_SAI3_RXD_GPIO4_IO30	0x0
			>;
		};
	};
};
