// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (C) 2015-2023 PHYTEC America, LLC
 *
 * Support for PEB-AV-02-070W.A1 LCD adapter
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include "../imx7d-pinfunc.h"

/ {
	compatible = "phytec,imx7-phyboard-zeta-kit",
				"phytec,imx7-phycore-som",
				"fsl,imx7d";
};

&{/} {
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm3 0 5000000 0>;
		enable-gpios = <&gpio1 1 0>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		power-supply = <&lcd_3v3>;
		not-externally-controlled;
	};

	lcd_3v3: fixedregulator-lcd {
		compatible = "regulator-fixed";
		regulator-name = "lcd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
	};
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	edt_ft5406: polytouch@38 {
		compatible = "edt,edt-ft5406", "edt,edt-ft5x06";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_edt_ts_irq>;
		interrupt-parent = <&gpio2>;
		interrupts = <14 0>;
		reset-gpios = <&gpio3 4 GPIO_ACTIVE_LOW>;
	};
};

&lcdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif_dat
		     &pinctrl_lcdif_ctrl
		     &pinctrl_lpsr_lcdif_ctrl>;
	display = <&display0>;
	lcd-supply = <&lcd_3v3>;
	status = "okay";

	display0: display@0 {
		bits-per-pixel = <32>;
		bus-width = <24>;

		display-timings {
			native-mode = <&timing0>;
			timing0: ETM0700G0EDH6 {
				clock-frequency = <33264000>;
				hactive = <800>;
				vactive = <480>;
				hfront-porch = <40>;
				hback-porch = <88>;
				hsync-len = <128>;
				vback-porch = <33>;
				vfront-porch = <10>;
				vsync-len = <2>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};
	};
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3>;
	status = "okay";
};

&iomuxc {
	pinctrl_edt_ts_irq: tsirqgrp {
		fsl,pins = <
			MX7D_PAD_EPDC_DATA14__GPIO2_IO14	0x59
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX7D_PAD_I2C2_SCL__I2C2_SCL	0x4000007e
			MX7D_PAD_I2C2_SDA__I2C2_SDA	0x4000007e
		>;
	};

	pinctrl_lcdif_ctrl: lcdifctrlgrp {
		fsl,pins = <
			MX7D_PAD_LCD_CLK__LCD_CLK	0x7e
			MX7D_PAD_LCD_ENABLE__LCD_ENABLE	0x7e
			MX7D_PAD_LCD_HSYNC__LCD_HSYNC	0x7e
			MX7D_PAD_LCD_VSYNC__LCD_VSYNC	0x7e
			MX7D_PAD_LCD_RESET__GPIO3_IO4	0x79
		>;
	};

	pinctrl_lcdif_dat: lcdifdatgrp {
		fsl,pins = <
			MX7D_PAD_LCD_DATA00__LCD_DATA0	0x7e
			MX7D_PAD_LCD_DATA01__LCD_DATA1	0x7e
			MX7D_PAD_LCD_DATA02__LCD_DATA2	0x7e
			MX7D_PAD_LCD_DATA03__LCD_DATA3	0x7e
			MX7D_PAD_LCD_DATA04__LCD_DATA4	0x7e
			MX7D_PAD_LCD_DATA05__LCD_DATA5	0x7e
			MX7D_PAD_LCD_DATA06__LCD_DATA6	0x7e
			MX7D_PAD_LCD_DATA07__LCD_DATA7	0x7e
			MX7D_PAD_LCD_DATA08__LCD_DATA8	0x7e
			MX7D_PAD_LCD_DATA09__LCD_DATA9	0x7e
			MX7D_PAD_LCD_DATA10__LCD_DATA10	0x7e
			MX7D_PAD_LCD_DATA11__LCD_DATA11	0x7e
			MX7D_PAD_LCD_DATA12__LCD_DATA12	0x7e
			MX7D_PAD_LCD_DATA13__LCD_DATA13	0x7e
			MX7D_PAD_LCD_DATA14__LCD_DATA14	0x7e
			MX7D_PAD_LCD_DATA15__LCD_DATA15	0x7e
			MX7D_PAD_LCD_DATA16__LCD_DATA16	0x7e
			MX7D_PAD_LCD_DATA17__LCD_DATA17	0x7e
			MX7D_PAD_LCD_DATA18__LCD_DATA18	0x7e
			MX7D_PAD_LCD_DATA19__LCD_DATA19	0x7e
			MX7D_PAD_LCD_DATA20__LCD_DATA20	0x7e
			MX7D_PAD_LCD_DATA21__LCD_DATA21	0x7e
			MX7D_PAD_LCD_DATA22__LCD_DATA22	0x7e
			MX7D_PAD_LCD_DATA23__LCD_DATA23	0x7e
		>;
	};
};

&iomuxc_lpsr {
	pinctrl_lpsr_lcdif_ctrl: lpsr-lcdifctrlgrp {
		fsl,pins = <
			MX7D_PAD_LPSR_GPIO1_IO01__GPIO1_IO1	0x59
		>;
	};

	pinctrl_pwm3: pwm3grp {
		fsl,pins = <
			MX7D_PAD_LPSR_GPIO1_IO03__PWM3_OUT	0x30
		>;
	};

};
