// SPDX-License-Identifier: GPL-2.0-or-later
/* Copyright (C) 2018-2023 PHYTEC America, LLC */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/imx7d-clock.h>
#include "../imx7d-pinfunc.h"

/ {
	compatible = "phytec,imx7-phyboard-zeta-kit",
		     "phytec,imx7-phycore-som",
		     "fsl,imx7d";
};

&{/} {
	reg_mipi_avdd_2v8: fixedregulator-mipi-avdd {
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		regulator-always-on;
		vin-supply = <&vdd_3v3>;
	};
};

&csi1 {
	csi-mux-mipi = <&gpr 0x14 4>;
	fsl,mipi-mode;
	status = "okay";

	port {
		csi_ep: endpoint {
			remote-endpoint = <&csi_mipi_ep>;
		};
	};
};

&i2c4 {
	status = "okay";

	ov5640_mipi: camera@3c {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mipigpio>;
		compatible = "ovti,ov5640_mipi";
		reg = <0x3c>;
		clocks = <&clks IMX7D_CLK_DUMMY>;
		clock-names = "csi_mclk";
		csi_id = <0>;
		pwn-gpios = <&gpio2 12 GPIO_ACTIVE_HIGH>;
		AVDD-supply = <&reg_mipi_avdd_2v8>;
		mclk = <24000000>;
		mclk_source = <0>;

		port {
			ov5640_mipi_ep: endpoint {
				remote-endpoint = <&mipi_sensor_ep>;
			};
		};
	};
};

&lcdif {
	display = <&display0>;
	disp-dev = "mipi_dsi_samsung";
	disp-videomode = "TRUULY-WVGA-SYNC-LOW";
	status = "okay";

	display0: display@0 {
		bits-per-pixel = <32>;
		bus-width = <24>;
	};
};

&mipi_csi {
	clock-frequency = <240000000>;
	status = "okay";

	port {
		mipi_sensor_ep: endpoint@1 {
			remote-endpoint = <&ov5640_mipi_ep>;
			data-lanes = <2>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
		};

		csi_mipi_ep: endpoint@2 {
			remote-endpoint = <&csi_ep>;
		};
	};
};

&mipi_dsi {
	lcd_panel = "TRULY-WVGA-TFT3P5581E";
	status = "okay";
};

&iomuxc {
	pinctrl_mipigpio: mipigpiogrp {
		fsl,pins = <
			MX7D_PAD_EPDC_DATA12__GPIO2_IO12	0x59
		>;
	};
};
