// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (C) 2015-2022 PHYTEC America, LLC
 *
 * Support for PEB-AV-02-070W.A0 LCD adapter
 */

/dts-v1/;
/plugin/;

&timing0 {
	/* ETM0700G0DH6 */
	clock-frequency = <33000000>;
	hactive = <800>;
	vactive = <480>;
	hfront-porch = <40>;
	hback-porch = <216>;
	hsync-len = <128>;
	vback-porch = <35>;
	vfront-porch = <10>;
	vsync-len = <2>;
	hsync-active = <0>;
	vsync-active = <0>;
	de-active = <1>;
	pixelclk-active = <1>;
};
