CONFIG_ADIN_PHY=y
# CONFIG_EEPROM_AT25 is not set
CONFIG_BRCMFMAC=m
CONFIG_CAN=y
CONFIG_CAN_MCP251XFD=y
CONFIG_CMA_SIZE_MBYTES=320
CONFIG_DRM_TI_SN65DSI83=y
CONFIG_DRM_TOSHIBA_TC358775=y
CONFIG_DP83867_PHY=y
CONFIG_EEPROM_AT24=y
CONFIG_GPIO_PCA9570=y
CONFIG_HID_MULTITOUCH=y
CONFIG_LEDS_PCA9532=y
CONFIG_RFKILL=y
CONFIG_RTC_DRV_RV3028=y
CONFIG_SENSORS_GPIO_FAN=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_SENSORS_TMP102=y
CONFIG_SND_SOC_TLV320AIC3X_I2C=y
CONFIG_TOUCHSCREEN_EGALAX_SERIAL=y
CONFIG_TOUCHSCREEN_USB_COMPOSITE=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_USB_NET_QMI_WWAN=m
CONFIG_USB_WDM=m
CONFIG_VIDEO_IMX_MEDIA=y
CONFIG_VIDEO_IMX7_CSI=y
CONFIG_VIDEO_AR0144=m
CONFIG_VIDEO_AR0521=m
CONFIG_VIDEO_DS90UB953=m
CONFIG_VIDEO_DS90UB954=m
