CONFIG_DP83867_PHY=y
CONFIG_EEPROM_AT24=y
# CONFIG_EEPROM_AT25 is not set
CONFIG_SND_SOC_TLV320AIC3X=y
CONFIG_TOUCHSCREEN_EGALAX_SERIAL=y
CONFIG_TOUCHSCREEN_USB_COMPOSITE=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_RTC_DRV_RV3028=y
CONFIG_SENSORS_GPIO_FAN=y
# CONFIG_BRCMFMAC_PCIE is not set
CONFIG_DRM_SN65DSI83_LVDS=y
CONFIG_REGULATOR_PF8X00=y
