// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2022 PHYTEC Messtechnik GmbH
 * Author: Stefan Riedmueller <s.riedmueller@phytec.de>
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "phytec,imx8mp-phyboard-pollux";

	fragment@3 {
		target-path= "/";

		__overlay__ {
			ser_csi1_clk: serializer-csi1-clk {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <24000000>;
			};
		};
	};
};

&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;

	deserializer@3d {
		compatible = "ti,ds90ub954";
		reg = <0x3d 0x70 0x71>;
		reg-names = "device_id", "rx0_id", "rx1_id";

		ports {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			port@0 {
				reg = <0>;

				ti,aeq-strobe-min = <7>;
				ti,aeq-strobe-max = <10>;
				ti,aeq-eq-min = <2>;
				ti,aeq-eq-max = <14>;

				des_csi1_port0_in: endpoint {
					remote-endpoint = <&ser_csi1_cam0_out>;
				};
			};

			port@2 {
				reg = <2>;
				des_csi1_out: endpoint {
					remote-endpoint = <&mipi_csi0_ep>;
					link-frequencies = /bits/ 64 <
						400000000
					>;
					data-lanes = <1 2 3 4>;
				};
			};
		};

		i2c-mux {
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			i2c_port0: i2c@0 {
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				reg = <0>;
				clock-frequency = <400000>;
			};
		};
	};
};

&i2c_port0 {
	#address-cells = <1>;
	#size-cells = <0>;

	ser_csi1_cam0: serializer@18 {
		compatible = "ti,ds90ub953";
		reg = <0x18>;

		clocks = <&ser_csi1_clk>;
		clock-names = "refclk";

		#clock-cells = <0>;
		clock-output-names = "clkout_csi1_port0";
		clock-frequency = <27000000>;

		gpio-controller;
		#gpio-cells = <2>;

		ports {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			port@0 {
				reg = <0>;
				ser_csi1_cam0_in: endpoint {
					remote-endpoint = <&vm017_ep>;
					data-lanes = <1 2 3 4>;
				};
			};

			port@1 {
				reg = <1>;
				ser_csi1_cam0_out: endpoint {
					remote-endpoint = <&des_csi1_port0_in>;
				};
			};
		};
	};

	camera@36 {
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		compatible = "onsemi,ar0521";
		reg = <0x36>;
		clocks = <&ser_csi1_cam0>;
		clock-names = "ext";
		isp-bus-info = "csi0";

		reset-gpios = <&ser_csi1_cam0 3 GPIO_ACTIVE_LOW>;

		port@0 {
			reg = <0>;

			vm017_ep: endpoint {
				remote-endpoint = <&ser_csi1_cam0_in>;
				bus-type = <4>; /* MIPI CSI-2 D-PHY */
				link-frequencies = /bits/ 64 <288000000>;
				data-lanes = <1 2 3 4>;
				clock-lanes = <0>;
				clock-noncontinuous = <1>;
			};
		};
	};

	eeprom@56 {
		compatible = "atmel,24c02";
		reg = <0x56>;
		pagesize = <16>;
	};
};

&mipi_csi_0 {
	#address-cells = <1>;
	#size-cells = <0>;

	port@0 {
		reg = <0>;
		mipi_csi0_ep: endpoint {
			remote-endpoint = <&des_csi1_out>;
			data-lanes = <4>;
			csis-hs-settle = <16>;
			csis-clk-settle = <2>;
			csis-wclk;
		};
	};
};
