// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2020 PHYTEC Messtechnik GmbH
 * Author: Teresa Remmet <t.remmet@phytec.de>
 *         Cem Tenruh <c.tenruh@phytec.de>
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/imx8mp-clock.h>
#include <dt-bindings/gpio/gpio.h>
#include "../imx8mp-pinfunc.h"

/ {
	compatible = "phytec,imx8mp-phyboard-pollux-rdk";

	fragment@6 {
		target-path= "/";
		__overlay__ {
			backlight0: backlight0 {
				compatible = "pwm-backlight";
				brightness-levels= <0 4 8 16 32 64 128 255>;
				default-brightness-level = <6>;
				enable-gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_lvds0>;
				power-supply = <&reg_vdd_io>;
				pwms = <&pwm4 0 50000 0>;
			};

			panel0: panel0 {
				compatible = "edt,etml1010g3dra";
				backlight = <&backlight0>;
				power-supply = <&reg_vcc_3v3_sw>;

				port {
					panel0_in: endpoint {
						remote-endpoint = <&lvds0_out>;
					};
				};
			};

			reg_sound_1v8: regulator-1v8 {
				compatible = "regulator-fixed";
				regulator-name = "VCC-1V8-Audio";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};

			reg_sound_3v3: regulator-3v3 {
				compatible = "regulator-fixed";
				regulator-name = "VCC-3V3-Audio";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
			};

			sound-peb-av-10 {
				compatible = "simple-audio-card";
				simple-audio-card,bitclock-master = <&dailink_master>;
				simple-audio-card,format = "i2s";
				simple-audio-card,frame-master = <&dailink_master>;
				simple-audio-card,mclk-fs = <32>;
				simple-audio-card,name = "snd-peb-av-10";
				simple-audio-card,routing =
					"Speaker", "SPOP",
					"Speaker", "SPOM",
					"Headphone Jack", "HPLOUT",
					"Headphone Jack", "HPROUT",
					"LINE1L", "Line In",
					"LINE1R", "Line In",
					"MIC3R", "Microphone Jack",
					"Microphone Jack", "Mic Bias";
				simple-audio-card,widgets =
					"Line", "Line In",
					"Speaker", "Speaker",
					"Microphone", "Microphone Jack",
					"Headphone", "Headphone Jack";

				dailink_master: simple-audio-card,cpu {
					sound-dai = <&sai2>;
				};

				simple-audio-card,codec {
					sound-dai = <&codec>;
				};
			};
		};
	};
};

&i2c4 {
	#address-cells = <1>;
	#size-cells = <0>;

	clock-frequency = <400000>;
	pinctrl-names = "default","gpio";
	pinctrl-0 = <&pinctrl_i2c4>;
	pinctrl-1 = <&pinctrl_i2c4_gpio>;
	scl-gpios = <&gpio5 20 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio5 21 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";

	codec: codec@18 {
		compatible = "ti,tlv320aic3007";
		ai3x-gpio-func = <0xd 0x0>;
		ai3x-micbias-vg = <2>;
		AVDD-supply = <&reg_sound_3v3>;
		IOVDD-supply = <&reg_sound_3v3>;
		DRVDD-supply = <&reg_sound_3v3>;
		DVDD-supply = <&reg_sound_1v8>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tlv320>;
		reg = <0x18>;
		reset-gpios = <&gpio4 28 GPIO_ACTIVE_LOW>;
		#sound-dai-cells = <0>;
	};

	eeprom@57 {
		compatible = "atmel,24c32";
		pagesize = <32>;
		reg = <0x57>;
	};

	eepromid@5f {
		compatible = "atmel,24c32";
		pagesize = <32>;
		reg = <0x5f>;
		size = <32>;
	};
};

&ldb {
	lvds-channel@0 {
		#address-cells = <1>;
		#size-cells = <0>;

		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";

		port@1 {
			reg = <1>;

			lvds0_out: endpoint {
				remote-endpoint = <&panel0_in>;
			};
		};
	};

	lvds-channel@1 {
		status = "disabled";
	};
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};

&sai2 {
	assigned-clocks = <&clk IMX8MP_CLK_SAI2>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <12288000>;
	clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI2_IPG>,
		 <&clk IMX8MP_CLK_DUMMY>,
		 <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI2_MCLK1>,
		 <&clk IMX8MP_CLK_DUMMY>,
		 <&clk IMX8MP_CLK_DUMMY>,
		 <&clk IMX8MP_AUDIO_PLL1_OUT>,
		 <&clk IMX8MP_AUDIO_PLL2_OUT>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
	fsl,sai-synchronous-rx;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	status = "okay";
	#sound-dai-cells = <0>;
};

&sdma2 {
	status = "okay";
};

&iomuxc {

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C4_SCL__I2C4_SCL			0x400001c3
			MX8MP_IOMUXC_I2C4_SDA__I2C4_SDA			0x400001c3
		>;
	};

	pinctrl_i2c4_gpio: i2c4gpiogrp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C4_SCL__GPIO5_IO20		0x1c3
			MX8MP_IOMUXC_I2C4_SDA__GPIO5_IO21		0x1c3
		>;
	};

	pinctrl_pwm4: pwm4grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI3_MCLK__PWM4_OUT		0x12
		>;
	};

	pinctrl_lvds0: lvds0grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI3_TXD__GPIO5_IO01		0x12
		>;
	};

	pinctrl_sai2: sai2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI2_MCLK__AUDIOMIX_SAI2_MCLK	0xd6
			MX8MP_IOMUXC_SAI2_RXD0__AUDIOMIX_SAI2_RX_DATA00	0xd6
			MX8MP_IOMUXC_SAI2_RXFS__AUDIOMIX_SAI2_RX_SYNC	0xd6
			MX8MP_IOMUXC_SAI2_TXC__AUDIOMIX_SAI2_TX_BCLK    0xd6
			MX8MP_IOMUXC_SAI2_TXD0__AUDIOMIX_SAI2_TX_DATA00	0xd6
		>;
	};

	pinctrl_tlv320: tlv320grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI2_RXC__GPIO4_IO22		0x16
			MX8MP_IOMUXC_SAI3_RXFS__GPIO4_IO28		0x16
		>;
	};
};
