// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2022 PHYTEC Messtechnik GmbH
 * Author: Dominik Haller <d.haller@phytec.de>
 * Supports PEB-AV-013 connected to a TI sn65dsi83 bridge
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/imx8mm-clock.h>
#include <dt-bindings/gpio/gpio.h>
#include "../imx8mm-pinfunc.h"

/ {
	compatible = "phytec,imx8mm-phyboard-polis";
};

&{/} {
	backlight: backlight {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lcd>;
		default-brightness-level = <6>;
		pwms = <&pwm4 0 50000 0>;
		enable-gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
		brightness-levels= <0 4 8 16 32 64 128 255>;
	};

	panel {
		compatible = "edt,etml1010g0dka";
		backlight = <&backlight>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&bridge_out>;
			};
		};
	};

	sound-wm8960 {
		compatible = "fsl,imx-audio-wm8960";
		model = "PEB-AV-13";
		audio-cpu = <&sai5>;
		audio-codec = <&codec>;
		hp-det-gpio = <&gpio3 20 0>;
		audio-routing =
			"Headphone Jack", "HP_L",
			"Headphone Jack", "HP_R",
			"Ext Spk", "SPK_LP",
			"Ext Spk", "SPK_LN",
			"Ext Spk", "SPK_RP",
			"Ext Spk", "SPK_RN",
			"LINPUT1", "Line In Jack",
			"RINPUT1", "Line In Jack",
			"LINPUT2", "AMIC",
			"RINPUT2", "AMIC",
			"LINPUT3", "Mic Jack",
			"Mic Jack", "MICB";
	};
};

&i2c3 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c3>;
	pinctrl-1 = <&pinctrl_i2c3_gpio>;
	sda-gpios = <&gpio5 19 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	scl-gpios = <&gpio5 18 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	codec: wm8960@1a {
		compatible = "wlf,wm8960";
		reg = <0x1a>;
		clocks = <&clk IMX8MM_CLK_SAI5>;
		clock-names = "mclk";
		wlf,shared-lrclk;
		wlf,hp-cfg = <3 2 3>;
		wlf,gpio-cfg = <1 3>;
	};
};

&lcdif {
	status = "okay";
};

&mipi_dsi {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	port@1 {
		reg = <1>;

		dsi_out: endpoint {
			attach-bridge;
			remote-endpoint = <&bridge_in>;
		};
	};
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};

&sai5 {
	assigned-clocks = <&clk IMX8MM_CLK_SAI5>;
	assigned-clock-parents = <&clk IMX8MM_AUDIO_PLL2_OUT>;
	assigned-clock-rates = <11289600>;
	clocks = <&clk IMX8MM_CLK_SAI5_IPG>, <&clk IMX8MM_CLK_DUMMY>,
		<&clk IMX8MM_CLK_SAI5_ROOT>, <&clk IMX8MM_CLK_DUMMY>,
		<&clk IMX8MM_CLK_DUMMY>, <&clk IMX8MM_AUDIO_PLL1_OUT>,
		<&clk IMX8MM_AUDIO_PLL2_OUT>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k",
			"pll11k";
	fsl,sai-mclk-direction-output;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai5>;
	#sound-dai-cells = <0>;
	status = "okay";
};

&sn65dsi83 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			bridge_in: endpoint {
				remote-endpoint = <&dsi_out>;
				data-lanes = <1 2 3 4>;
				lvds_vod_swing = <0x0C>;
			};
		};

		port@2 {
			reg = <2>;

			bridge_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&iomuxc {

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C3_SCL_I2C3_SCL          0x400001c2
			MX8MM_IOMUXC_I2C3_SDA_I2C3_SDA          0x400001c2
		>;
	};

	pinctrl_i2c3_gpio: i2c3gpiogrp {
		fsl,pins = <
			MX8MM_IOMUXC_I2C3_SCL_GPIO5_IO18        0x1e2
			MX8MM_IOMUXC_I2C3_SDA_GPIO5_IO19        0x1e2
		>;
	};

	pinctrl_lcd: lcd0grp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI3_TXD_GPIO5_IO1		0x12
		>;
	};

	pinctrl_pwm4: pwm4grp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI3_MCLK_PWM4_OUT		0x12
		>;
	};

	pinctrl_sai5: sai5grp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_MCLK_SAI5_MCLK        0xd4
			MX8MM_IOMUXC_SAI5_RXD0_SAI5_RX_DATA0    0xd4
			MX8MM_IOMUXC_SAI5_RXD1_SAI5_TX_SYNC     0xd4
			MX8MM_IOMUXC_SAI5_RXD2_SAI5_TX_BCLK     0xd4
			MX8MM_IOMUXC_SAI5_RXD3_SAI5_TX_DATA0    0xd4
			MX8MM_IOMUXC_SAI5_RXC_GPIO3_IO20        0x16
		>;
	};
};
